@media only screen and (max-width: 992px) {
    #footer-wrapper{
        .group-footer{
            .title-footer{
                .title{
                    font-size: 2.8rem;
                }
            }
            .group-content-footer{
                margin-bottom: 15px;
                .text-content{
                    font-size: 1.6rem;
                    line-height: 2rem;
                    a.link-tel{
                        font-size: 2.4rem;
                        margin-bottom: 0;
                    }
                }
            }

            .footer-bottom{
                flex-wrap: wrap;
                .sitemap{
                    width: 100%;
                    ul{
                        li{
                            display: block;
                        }
                    }
                }
            }
        }
    }
}