#se-maincontainer{

	#page-content{
		margin-top: 240px;
		padding: 0px 10px 10px 10px;
		background: #fff;
		box-sizing: border-box;
		border: 2px solid #2e6f8b;
		border-radius:5px;
	}
	.page-custom-box{
		#custom-box-gallery{
			.fontfacetext{
				border-radius:5px;			
				background-color: linear-gradient(to bottom, #03689f, #013d5c) !important;
				background-image: -webkit-linear-gradient(to bottom, #03689f, #013d5c) !important;
				background-image: -moz-linear-gradient(to bottom, #03689f, #013d5c) !important;
				background-image: -o-linear-gradient(to bottom, #03689f, #013d5c) !important;
				background-image: linear-gradient(to bottom, #03689f, #013d5c) !important;
				}
			}
	}
	.page-box-heading{
		margin: 0 0 10px 0;
		padding: 0;
		font-size: 26px;
		font-weight: normal;
		.heading1{
			color: #333333;
		}
		.heading2{
			color: #2e6f8b;
			//padding-left:10px;
			font-weight: bold;
		}
	}

}
.commnet-detail table tbody tr td img{
	border-radius:50px;
	}



