.banner-wrapper{
    position: relative;
    .list-banner{
        margin: 0;
        padding: 0;
        position: relative;
        li{
            list-style: none;
            position: relative;
            outline: none;
            .bg-layer{
                position: absolute;
                background-image: url('../../assets/images/bg-layer-onbanner.png');
                width: 100%;
                height: 100%;
                background-repeat: repeat;
            }
            .banner{
                height: 384px;
                background-repeat: no-repeat;
                background-size: cover;
            }
            .item-Onbanner-outer{
                position: absolute;
                width: 100%;
                height: 100%;
                z-index: 99;
                top: 0;
                .item-Onbanner-inner{
                    display: table;
                    width: 100%;
                    height: 100%;
                    padding: 0 10px;
                    text-align: center;
                    .list{
                        display: table-cell;
                        vertical-align: middle;
                        .title-banner{
                            color: #fff;
                            font-size: 3.6rem;
                            font-weight: $font-medium;
                        }
                        .desc-banner{
                            color: #fff;
                            font-size: 2.2rem;
                            font-weight: $font-regular;
                            margin-bottom: 50px;
                        }
                        .action-link{
                            padding: 10px 15px;
                            display: inline-block;
                            transition: all 0.3s ease;
                            a{
                                color: #fff;
                                font-size: 16px;
                                font-weight: $font-regular;
                                
                                &:hover{
                                    text-decoration: none;
                                }
                            }
                        }
                    }
                }
            }
        }
        .slick-arrow{
            position: absolute;
            z-index: 9;
            left: auto;
            right: auto;
            &.slick-prev{
                text-indent: -9999px;
                //left: auto;
                //right: 0;
                right: 72px;
                top: auto;
                bottom: -60px;
                transform: translate(0);
                background-color: $color-primary;
                width: 70px;
                height: 40px;
                background-image: url('../../assets/images/icons/icon-slide-prev.png');
                background-repeat: no-repeat;
                background-position: center center;
            }
            &.slick-next{
                text-indent: -9999px;
                right: 0;
                top: auto;
                bottom: -60px;
                transform: translate(0);
                background-color: $color-primary;
                width: 70px;
                height: 40px;
                background-image: url('../../assets/images/icons/icon-slide-next.png');
                background-repeat: no-repeat;
                background-position: center center;
            }
            &.slick-disabled{
                background-color: #cfd1d4;
                opacity: 1;
                cursor: not-allowed;
            }
        }
    }
    .slick-dotted{
        &.slick-slider{
            margin-bottom: 0;
        }
    }
    .slick-dots{
        position: relative;
        bottom: -20px;
        li{
            float: left;
            width: 80px;
            height: 7px;
            background-color: #d7d9db;
            margin: 0 5px 0 0;
            transition: all 0.5s;
            button{
                display: none;
            }

            &.slick-active{
                background-color: $color-primary;
            }
        }
        // li.slick-active Css infile color.scss
        @include media-breakpoint-down(md){
            left: 0;
            bottom: 0;
            li{
                width: auto;
                margin: 0;
            }
        }
    }

    &.onlyOne{
        ul{
            margin: 0;
            padding: 0;
            position: relative;
            li{
                list-style: none;
                position: relative;
                outline: none;
                .bg-layer{
                    position: absolute;
                    background-image: url('../../assets/images/bg-layer-onbanner.png');
                    width: 100%;
                    height: 100%;
                    background-repeat: repeat;
                }
                .banner{
                    height: 550px;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center center;
                }
                .item-Onbanner-outer{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 99;
                    top: 0;
                    .item-Onbanner-inner{
                        display: table;
                        width: 100%;
                        height: 100%;
                        padding: 0 10px;
                        text-align: center;
                        .list{
                            display: table-cell;
                            vertical-align: middle;
                            .title-banner{
                                color: #fff;
                                font-size: 3.6rem;
                                font-weight: $font-medium;
                            }
                            .desc-banner{
                                color: #fff;
                                font-size: 2.2rem;
                                font-weight: $font-regular;
                                margin-bottom: 50px;
                            }
                        }
                    }
                }
            }
        }
    }

}