	#custom-box-question{
		.box-question{
			padding:10px;
	
			a{
				text-decoration: none;
				font-size: 13px;
				color: #666;
	
				.head-date{
					color:#0490D8;
					font-weight:bold;
				}
			}
		}
		.bg-gray{
			background:#EBEBEB;
		}
		.heading-txt1 {
			//color: #0490D8;
			font-size: 23px;
		}
		.heading-txt2 {
			color: #0490D8;
			font-size: 23px;
		}
		.heading2 {
			color: #0490D8;
			font-size: 25px;
		}
		.box-data{
			margin-bottom:2px;
			font-size:13px;
	
			.title{
				font-weight:bold;
			}
	
			.box-input-requestion{
				background: #F5F5F5;
				padding:10px;
				border-bottom:solid 1px #ccc;
	
				.group-first{
					display:inline-block;
					width:10%;
				}
				.group-first2{
					display:inline-block;
					//width:36%;
					width:10%
				}
				input[type="text"]{
					border: 1px solid #ff5778;
					border-radius: 5px;
					height: 25px;
					padding: 0 10px;
					width: 32%;
				}
				textarea{
					border: 1px solid #ff5778;
					border-radius: 5px;
					padding: 0 10px;
					width:32% !important;
					}
				#a_2{
					width: 83.5% !important;
					}
				select{
					height:25px;
					border: 1px solid #ff5778;
					border-radius: 5px;
					width:155px !important;
					}
				table{
					margin-left:15%;		
					}
				.red{
					font-size:13px;
					margin:5px;
					color:red;
				}
				.group-btn{
					margin:0 0 0 78px;
					width:25%;
					padding:20px;
					table{
						margin:0;
						}
					.btn-blue{
						background-color:#ff3d63 !important;
						//background-color:linear-gradient(to bottom,#03689f, #013d5c) !important;
						//background-image: -webkit-linear-gradient(to bottom,#03689f, #013d5c) !important;
						//background-image: -moz-linear-gradient(to bottom,#03689f, #013d5c) !important;
						//background-image: -o-linear-gradient(to bottom,#03689f, #013d5c) !important; 
						//background-image: linear-gradient(to bottom,#03689f, #013d5c) !important;
						width:40%;
						margin:10px 0;
						text-align:center;
						img {
							margin-left:5px;
						}
						input{
							background:transparent;
							color:#fff;
							border:none;
							padding:2px 10px;
							font-size:22px;
						}
					}
				}
			}
		}
	}
	
	@media #{$mobile} {
		.box-question{
			padding:10px;
	
			a{
				text-decoration: none;
				font-size: 13px;
				color: #666;
	
				.head-date{
					color:#0490D8;
				}
			}
		}
		.bg-gray{
			background:#EBEBEB;
		}
		.heading-txt1 {
			//color: #0490D8;
			font-size: 23px;
		}
		.heading-txt2 {
			color: #0490D8;
			font-size: 23px;
		}
		.heading2 {
			color: #0490D8;
			font-size: 25px;
		}
		.box-data{
			margin-bottom:2px;
			font-size:13px;
	
			.box-input-requestion{
				background: #F5F5F5;
				padding:10px;
				border-bottom:solid 1px #ccc;
	
				.group-first{
					display:inline-block;
					width:25% !important;
				}
				.group-first2{
					display:inline-block;
					width:25% !important;
				}
				input[type="text"]{
					width: auto !important;
				}
				textarea{
					margin:10px 0;
					width:66% !important
					}
				table{
					margin-left:25% !important;		
					}
				.group-btn{
					margin:0 0 0 26% !important;
					width:90% !important;
					padding:20px 0 !important;
					text-align:left;
	
					.btn-blue{
						background:#0490D8;
						width:45% !important;
						margin-top:10px;
						img {
							margin-left:5px;
						}
						input{
							background:transparent;
							color:#fff;
							border:none;
							padding:2px 10px;
							font-size:22px;
						}
					}
				}
			}
		}
	
	}
	@media #{$tablet} {
		.box-question{
			padding:10px;
	
			a{
				text-decoration: none;
				font-size: 13px;
				color: #666;
	
				.head-date{
					color:#0490D8;
				}
			}
		}
		.bg-gray{
			background:#EBEBEB;
		}
		.heading-txt1 {
			//color: #0490D8;
			font-size: 23px;
		}
		.heading-txt2 {
			color: #0490D8;
			font-size: 23px;
		}
		.heading2 {
			color: #0490D8;
			font-size: 25px;
		}
		.box-data{
			margin-bottom:2px;
			font-size:13px;
	
			.title{
				font-weight:bold;
			}
	
			.box-input-requestion{
				background: #F5F5F5;
				padding:10px;
				border-bottom:solid 1px #ccc;
	
				.group-first{
					display:inline-block;
					width:15% !important;
				}
				.group-first2{
					display:inline-block;
					width:15% !important;
				}
				input[type="text"]{
					width:20%;
				}
				textarea{
					margin:10px 0;
					width:auto !important;
					}
				#info{
					width: 32% !important;
					}
				#contact_address{
					width: 32% !important;
					}
				.group-btn{
					margin:0 0 0 15.5% !important;
					width:40% !important;
					padding:20px 0 !important;
					text-align:left;
	
					.btn-blue{
						background:#0490D8;
						width:45% !important;
						margin:0 !important;
						img {
							margin-left:5px;
						}
						input{
							background:transparent;
							color:#fff;
							border:none;
							padding:2px 10px;
							font-size:22px;
						}
					}
				}
			}
		}
	}
	
	
