@media only screen and (max-width: 1024px) {

    .manage{
        .main-wrapper{
            #header-wrapper{
                padding-top: 36.2px;
                .header-sm{
                    .logo-mobile{
                        .menu-sizefonts-wrapper{
                            &.sticky{
                                top: 36.2px;
                            }
                        }
                    }
                }
            }
        }
    }


    #header-wrapper{
        .header-lg{
            display: none;
        }
        .header-sm{
            display: block;
            .logo-mobile{
                .logo{
                    max-width: 300px;
                    margin: auto;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    padding: 10px 0;
                    img{
                        width: 100%;
                    }
                }
                .menu-sizefonts-wrapper{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    background-color: $color-primary;
                    &.sticky{
                        position: fixed;
                        top: 0;
                        width: 100%;
                        z-index: 1040;
                    }
                    .bar-menu{
                        background-color: $color-secondary;
                        padding: 8px 10px;
                        .icon-menu{
                            .fas, .far, .fa{
                                font-size: 3rem;
                                color: #fff
                            }
                        }
                    }
                    .tools-sizefonts{
                        padding-right: 10px;
                        .sizefonts-wrapper{
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            padding: 5px 23px;
                            .reduce{
                                background-image: url('../../assets/images/icons/icon-reduce-sizefont.png');
                                width: 22px;
                                height: 13px;
                                background-repeat: no-repeat;
                                background-position: top center;
                                cursor: pointer;
                                transition: all 0.3s;
                                &:hover{
                                    background-position: bottom center;
                                }
                                &.active{
                                    background-position: bottom center;
                                }
                            }
                            .normal{
                                padding-left: 23px;
                                padding-right: 23px;
                                background-image: url('../../assets/images/icons/icon-normal-sizefont.png');
                                width: 22px;
                                height: 13px;
                                background-repeat: no-repeat;
                                background-position: top center;
                                cursor: pointer;
                                transition: all 0.3s;
                                &:hover{
                                    background-position: bottom center;
                                }
                                &.active{
                                    background-position: bottom center;
                                }
                            }
                            .increase{
                                background-image: url('../../assets/images/icons/icon-increase-sizefont.png');
                                width: 22px;
                                height: 13px;
                                background-repeat: no-repeat;
                                background-position: top center;
                                cursor: pointer;
                                transition: all 0.3s;
                                &:hover{
                                    background-position: bottom center;
                                }
                                &.active{
                                    background-position: bottom center;
                                }
                            }
                        }
                    }
                }
            }
        }
        .canvas-menu-wrapper{
            display: block;
        }
    }

    body.nav-expanded {
        transition: left 0.3s ease;
    }
    .nav-expanded{
        .canvas-menu-wrapper{
            .canvas-menu{
                left: 0;
                width: 85%;
            }
        }
        
    }

    .canvas-menu-wrapper{
        .canvas-menu{
            display: block;
            background-color: rgba($color: #fff, $alpha: 1.0);
            height: 100%;
            width: 300px;
            overflow: auto;
            position: fixed;
            left: -300px;
            top: 0;
            z-index: 3000;
            transition: left 0.3s ease;
            //padding: 0 10px 20px;
            .canvas-header{
                padding: 20px 15px;
                display: flex;
                justify-content: flex-end;
                margin-bottom: 10px;
                .close-menu{
                    font-size: 1.8rem;
                    font-weight: $font-regular;
                    color: #525252;
                    .fas, .far, .fa{
                        font-size: 1.6rem;
                        color: #525252;
                        margin-left: 5px;
                    }
                }
            }
            .canvas-lang{
                //margin-bottom: 10px;
                background-color: #f8f8f8;
                ul{
                    margin: 0 15px;
                    padding: 0;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    border-bottom: 1px solid #eaeaea;
                    li{
                        list-style: none;
                        border-right: 1px solid #eaeaea;
                        a{
                            font-size: 1.8rem;
                            font-weight: $font-regular;
                            line-height: 2.5rem;
                            color: #525252;
                            padding: 5px 8px;
                            display: block;
                        }
                        &.active{
                            a{
                                color: #fff;
                            }
                        }
                        &:last-child{
                            border-right: none;
                        }
                    }
                }
            }
            .canvas-top{
                border-bottom: 1px solid #eaeaea;
                padding: 20px 15px;
                background-color: #f8f8f8;
                ul{
                    margin: 0;
                    padding: 0;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    //flex-wrap: wrap;
                    li{
                        list-style: none;
                        //width: 100%;
                        //padding-bottom: 10px;
                        .group-canvas-top{
                            a{
                                display: flex;
                                align-items: center;
                                .icon-top{
                                    width: 18px;
                                    height: 18px;
                                    margin-right: 10px;
                                    img{
                                        display: block;
                                        width: 100%;
                                    }
                                }
                                .text-top{
                                    font-size: 1.8rem;
                                    font-weight: $font-regular;
                                    color: #525252;
                                    line-height: 2rem;
                                }
                            }
                        }
                    }
                }
            }
            .canvas-list-menu{
                .nav-menu-MB{
                    margin: 0;
                    padding: 0;
                    padding-right: 0;
                    li{
                        list-style: none;
                        a{
                            font-size: 1.8rem;
                            line-height: 2.5rem;
                            font-weight: $font-regular;
                            color: #fff;
                            display: block;
                            padding: 10px 15px 10px 17px;
                            background-color: $color-secondary;
                            border-bottom: 1px solid #fff;
                            span{
                                float: right;
                                transition: all 0.3s ease;
                            }
                        }
                        .menu-lv2{
                            margin: 0;
                            padding: 0;
                            li{
                                background-color: #f8f8f8;
                                a{
                                    color: #525252;
                                    background-color: #f8f8f8;
                                    border-bottom: 1px solid #e3e4e6;
                                    margin: 0 20px;
                                    padding: 10px 15px;
                                }
                            }
                        }
                    }
                    li.open{
                        padding-bottom: 0;
                        a{
                            background-color: $color-primary;
                            span{
                                transform: rotate(-180deg);
                                transition: all 0.3s ease;
                            }
                        }
                        .menu-lv2{
                            margin: 0;
                            padding: 0;
                            li{
                                background-color: #f8f8f8;
                                a{
                                    color: #525252;
                                    background-color: #f8f8f8;
                                    border-bottom: 1px solid #e3e4e6;
                                    margin: 0 20px;
                                    padding: 10px 15px;
                                    span{
                                        transform: rotate(0deg);
                                        transition: all 0.3s ease;
                                    }
                                }
                            }
                            li.open{
                                a{
                                    color: $color-secondary;
                                    border-bottom: none;
                                    span{
                                        transform: rotate(-180deg);
                                        transition: all 0.3s ease;
                                    }
                                }
                                .menu-lv3{
                                    padding: 0;
                                    li{
                                        background-color: #e6e6e6;
                                        a{
                                            background-color: #e6e6e6;
                                            font-size: 1.6rem;
                                            font-weight: $font-regular;
                                            color: #525252;
                                        }
                                        &:first-child{
                                            padding-top: 5px;
                                        }
                                        &:last-child{
                                            padding-bottom: 5px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .manage{
        .main-wrapper{
            #header-wrapper{
                padding-top: 61px;
                .header-sm{
                    .logo-mobile{
                        .menu-sizefonts-wrapper{
                            &.sticky{
                                top: 61px;
                            }
                        }
                    }
                }
            }
            .panel-header{
                .header-top{
                    .head-top-wrapper{
                        flex-wrap: wrap;
                        .left{
                            width: 100%;
                        }
                        .right{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}