/* set global config vars */
/* defualt font family */
/* defualt page width setting(PC) */
/* off canvas menu width *ex. 70px or 70% */
/* footer height */
/* font size multiplier */
/* defualt font size */
/* defualt font color */
/* mediaquery breakpoint */
/* ------------------------------------------- */
/* Import grid system */
.se-box {
  text-align: justify !important;
  text-justify: distribute-all-lines;
  font-size: 0 !important;
  overflow: hidden; }
  .se-box > * {
    text-align: left;
    font-size: medium;
    text-justify: auto; }
  .se-box::after {
    content: '';
    display: inline-block;
    width: 100%; }
  .lt-ie8 .se-box {
    zoom: 1; }

.se-box__item {
  vertical-align: top;
  display: inline-block;
  width: 100%; }
  .lt-ie8 .se-box__item {
    display: inline; }

.se-box__item--span1 {
  width: 6.77966%; }

.se-box__item--push1 {
  position: relative;
  left: 8.47458%; }

.se-box__item--span2 {
  width: 15.25424%; }

.se-box__item--push2 {
  position: relative;
  left: 16.94915%; }

.se-box__item--span3 {
  width: 23.72881%; }

.se-box__item--push3 {
  position: relative;
  left: 25.42373%; }

.se-box__item--span4 {
  width: 32.20339%; }

.se-box__item--push4 {
  position: relative;
  left: 33.89831%; }

.se-box__item--span5 {
  width: 40.67797%; }

.se-box__item--push5 {
  position: relative;
  left: 42.37288%; }

.se-box__item--span6 {
  width: 49.15254%; }

.se-box__item--push6 {
  position: relative;
  left: 50.84746%; }

.se-box__item--span7 {
  width: 57.62712%; }

.se-box__item--push7 {
  position: relative;
  left: 59.32203%; }

.se-box__item--span8 {
  width: 66.10169%; }

.se-box__item--push8 {
  position: relative;
  left: 67.79661%; }

.se-box__item--span9 {
  width: 74.57627%; }

.se-box__item--push9 {
  position: relative;
  left: 76.27119%; }

.se-box__item--span10 {
  width: 83.05085%; }

.se-box__item--push10 {
  position: relative;
  left: 84.74576%; }

.se-box__item--span11 {
  width: 91.52542%; }

.se-box__item--push11 {
  position: relative;
  left: 93.22034%; }

.se-box__item--span12 {
  width: 100%; }

.se-box__item--push12 {
  position: relative;
  left: 101.69492%; }

.se-box--left {
  overflow: hidden;
  text-align: left !important; }

.se-box--right {
  overflow: hidden;
  text-align: right !important; }

.se-box--center {
  overflow: hidden;
  text-align: center !important; }

.se-box--block {
  overflow: hidden;
  text-align: left !important; }
  .se-box--block > .se-box__item {
    display: block; }

/* Import scss components */
/* note : for IE8,7 need css3pie helper*/
/* remove link outline */
a:hover, a:active, a:focus, input[type=radio] {
  outline: 0; }

/* clear float */
.clearfix {
  clear: both; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Kanit', sans-serif;
  font-size: 1.4rem;
  /* 14px */ }

/* main structure */
#se-wrapper {
  position: relative;
  padding: 0 15px;
  margin: auto;
  max-width: 100%;
  min-width: 1265px; }

#page-container {
  width: 100%; }

#se-header-wrapper {
  width: 100%; }

#se-maincontainer-wrapper {
  min-height: 590px; }

#se-footer-wrapper {
  width: 100%;
  min-height: 80px;
  background: #fff; }

/* end main structure */
/* page navigation */
#page-navi {
  display: block;
  margin: 0;
  padding: 10px; }
  #page-navi > li {
    display: inline;
    font-size: 13px;
    color: #444; }
    #page-navi > li.current {
      color: #004e6c; }
    #page-navi > li > a {
      color: #444;
      text-decoration: none; }
      #page-navi > li > a:hover {
        text-decoration: underline;
        color: #333; }

/* end page navigation */
/* button style */
.btn {
  position: relative;
  display: inline-block;
  *display: inline;
  zoom: 1;
  width: auto;
  min-width: 60px;
  background: #ccc;
  text-align: center;
  line-height: 100%; }
  .btn > a {
    display: inline-block;
    *display: inline;
    zoom: 1;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    color: #fff;
    text-decoration: none; }
  .btn > input[type=button], .btn input[type=submit], .btn input[type=reset] {
    margin: 0;
    *margin-top: -2px;
    padding: 0;
    vertical-align: middle;
    *vertical-align: top;
    font-size: 1.6rem;
    line-height: 3rem;
    color: #fff;
    border: 0 none;
    background: 0 none;
    outline: 0 none;
    -webkit-box-sizing: content-box;
    box-sizing: content-box; }
  .btn.big {
    padding: 0 0.75rem;
    height: 3.2rem;
    font-size: 1.6rem; }
  .btn.round {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -pie-border-radius: 5px;
    behavior: url(pie/PIE.htc); }
  .btn.disabled {
    background: #efefef !important;
    cursor: default; }
    .btn.disabled > a, .btn.disabled input[type=button], .btn.disabled input[type=submit], .btn.disabled input[type=reset] {
      cursor: default;
      color: #fff; }
  .btn.blue {
    background: #2798d5;
    /* Old browsers */
    background: -moz-linear-gradient(top, #2798d5 0%, #005dab 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2798d5), color-stop(100%, #005dab));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #2798d5 0%, #005dab 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #2798d5 0%, #005dab 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #2798d5 0%, #005dab 100%);
    /* IE10+ */
    background: -webkit-gradient(linear, left top, left bottom, from(#2798d5), to(#005dab));
    background: linear-gradient(to bottom, #2798d5 0%, #005dab 100%);
    /* W3C */
    -pie-background: linear-gradient(#2798d5, #005dab);
    /* IE6-9 via PIE */
    behavior: url(pie/PIE.htc); }
    .btn.blue:hover {
      background: #329fd9;
      /* Old browsers */
      background: -moz-linear-gradient(top, #329fd9 0%, #0065ba 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #329fd9), color-stop(100%, #0065ba));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #329fd9 0%, #0065ba 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, #329fd9 0%, #0065ba 100%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(top, #329fd9 0%, #0065ba 100%);
      /* IE10+ */
      background: -webkit-gradient(linear, left top, left bottom, from(#329fd9), to(#0065ba));
      background: linear-gradient(to bottom, #329fd9 0%, #0065ba 100%);
      /* W3C */
      -pie-background: linear-gradient(#329fd9, #0065ba);
      /* IE6-9 via PIE */
      behavior: url(pie/PIE.htc); }
  .btn.green {
    background: #10a44a;
    /* Old browsers */
    background: -moz-linear-gradient(top, #10a44a 0%, #006600 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #10a44a), color-stop(100%, #006600));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #10a44a 0%, #006600 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #10a44a 0%, #006600 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #10a44a 0%, #006600 100%);
    /* IE10+ */
    background: -webkit-gradient(linear, left top, left bottom, from(#10a44a), to(#006600));
    background: linear-gradient(to bottom, #10a44a 0%, #006600 100%);
    /* W3C */
    -pie-background: linear-gradient(#10a44a, #006600);
    /* IE6-9 via PIE */
    behavior: url(pie/PIE.htc); }
    .btn.green:hover {
      background: #11b250;
      /* Old browsers */
      background: -moz-linear-gradient(top, #11b250 0%, #007500 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #11b250), color-stop(100%, #007500));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #11b250 0%, #007500 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, #11b250 0%, #007500 100%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(top, #11b250 0%, #007500 100%);
      /* IE10+ */
      background: -webkit-gradient(linear, left top, left bottom, from(#11b250), to(#007500));
      background: linear-gradient(to bottom, #11b250 0%, #007500 100%);
      /* W3C */
      -pie-background: linear-gradient(#11b250, #007500);
      /* IE6-9 via PIE */
      behavior: url(pie/PIE.htc); }
  .btn.gray {
    background: #cccccc;
    /* Old browsers */
    background: -moz-linear-gradient(top, #cccccc 0%, #6c6c6c 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cccccc), color-stop(100%, #6c6c6c));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #cccccc 0%, #6c6c6c 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #cccccc 0%, #6c6c6c 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #cccccc 0%, #6c6c6c 100%);
    /* IE10+ */
    background: -webkit-gradient(linear, left top, left bottom, from(#cccccc), to(#6c6c6c));
    background: linear-gradient(to bottom, #cccccc 0%, #6c6c6c 100%);
    /* W3C */
    -pie-background: linear-gradient(#cccccc, #6c6c6c);
    /* IE6-9 via PIE */
    behavior: url(pie/PIE.htc); }
    .btn.gray:hover {
      background: #d4d4d4;
      /* Old browsers */
      background: -moz-linear-gradient(top, #d4d4d4 0%, #747474 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d4d4d4), color-stop(100%, #747474));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #d4d4d4 0%, #747474 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, #d4d4d4 0%, #747474 100%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(top, #d4d4d4 0%, #747474 100%);
      /* IE10+ */
      background: -webkit-gradient(linear, left top, left bottom, from(#d4d4d4), to(#747474));
      background: linear-gradient(to bottom, #d4d4d4 0%, #747474 100%);
      /* W3C */
      -pie-background: linear-gradient(#d4d4d4, #747474);
      /* IE6-9 via PIE */
      behavior: url(pie/PIE.htc); }

.btn-2stage {
  position: relative;
  display: inline-block;
  *display: inline;
  zoom: 1;
  min-height: 29px;
  width: auto;
  min-width: 60px;
  background: #49EE1A;
  text-align: center;
  line-height: 100%;
  background: #ccc; }
  .btn-2stage.big {
    font-size: 22px; }
  .btn-2stage.arrow {
    padding: 0 15px 0 10px; }
  .btn-2stage > a {
    display: inline-block;
    *display: inline;
    zoom: 1;
    margin: 0;
    padding: 0 10px;
    min-width: 60px;
    vertical-align: middle;
    color: #fff;
    text-decoration: none; }
  .btn-2stage > input[type=button], .btn-2stage input[type=submit], .btn-2stage input[type=reset] {
    margin: 0;
    *margin-top: -2px;
    padding: 0;
    vertical-align: middle;
    *vertical-align: top;
    color: #fff;
    border: 0 none;
    background: 0 none;
    outline: 0 none;
    -webkit-box-sizing: content-box;
    box-sizing: content-box; }
  .btn-2stage > i {
    display: none;
    float: right;
    margin: 5px 5px 0 0;
    font-size: 14px;
    color: #fff; }
  .btn-2stage.active > i {
    display: block;
    position: absolute;
    top: 1px;
    *top: 2px;
    right: 0;
    font-size: 14px;
    color: #fff; }
  .btn-2stage:hover {
    background: #d4d4d4; }
  .btn-2stage.blue.active {
    background: #004e6c;
    cursor: default; }
    .btn-2stage.blue.active > a {
      cursor: default; }
    .btn-2stage.blue.active:hover {
      background: #00597b; }

/* end button style */
/* input round border style */
.input-round-small {
  position: relative;
  display: inline-block;
  *display: inline;
  zoom: 1;
  padding: 2px 6px;
  border: 1px solid #ccc;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  -pie-border-radius: 15px;
  behavior: url(pie/PIE.htc); }
  .input-round-small > input[type=text], .input-round-small input[type=password] {
    font-size: 13px;
    color: #333;
    vertical-align: top;
    border: 0;
    outline: 0; }

.input-round-big {
  position: relative;
  display: inline-block;
  *display: inline;
  zoom: 1;
  padding: 5px 6px;
  border: 1px solid #ccc;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  -pie-border-radius: 15px;
  behavior: url(pie/PIE.htc); }
  .input-round-big > input[type=text], .input-round-big input[type=password] {
    font-size: 15px;
    color: #333;
    vertical-align: top;
    border: 0;
    outline: 0; }

/* end input style */
/* content with/width out slide layout */
#content-slide-container .content-slide-box {
  position: relative;
  margin: 0 0 2px 0;
  min-height: 47px; }
  #content-slide-container .content-slide-box.expanded {
    padding-top: 25px; }
    #content-slide-container .content-slide-box.expanded .content-slide-trigger {
      position: absolute;
      z-index: 2;
      margin-top: -25px;
      margin-left: 18px;
      width: 135px;
      height: 125px; }
      #content-slide-container .content-slide-box.expanded .content-slide-trigger .slide-bg {
        position: relative;
        width: 100%;
        height: 100%;
        background: #004e6c;
        background: transparent\9;
        background: rgba(0, 78, 108, 0.8);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC004E6C,endColorstr=#CC004E6C);
        zoom: 1; }
      #content-slide-container .content-slide-box.expanded .content-slide-trigger > a.trigger-text {
        display: block;
        position: absolute;
        z-index: 2;
        top: auto;
        bottom: 20px;
        left: 0;
        padding-left: 10px;
        width: 105px;
        font-size: 26px;
        color: #fff;
        text-decoration: none;
        cursor: default; }
        #content-slide-container .content-slide-box.expanded .content-slide-trigger > a.trigger-text > span {
          display: block;
          margin-top: -10px; }
          #content-slide-container .content-slide-box.expanded .content-slide-trigger > a.trigger-text > span:first-child {
            margin-top: 0; }
      #content-slide-container .content-slide-box.expanded .content-slide-trigger > i {
        position: absolute;
        z-index: 2;
        top: 8px;
        right: 8px;
        *right: 3px;
        font-size: 18px;
        color: #fff; }
        #content-slide-container .content-slide-box.expanded .content-slide-trigger > i.icon-chevron-down {
          display: none; }
        #content-slide-container .content-slide-box.expanded .content-slide-trigger > i.icon-chevron-right {
          display: block; }
    #content-slide-container .content-slide-box.expanded .content-slide-detail {
      display: block;
      z-index: 1;
      margin: 0 0 0 0;
      padding: 5px 10px 5px 170px;
      min-height: 125px;
      background: #fff;
      border: 1px solid #ccc; }
  #content-slide-container .content-slide-box .content-slide-trigger {
    position: absolute;
    z-index: 2;
    margin-top: 0;
    margin-left: 18px;
    width: 135px;
    height: 47px; }
    #content-slide-container .content-slide-box .content-slide-trigger .slide-bg {
      position: relative;
      width: 100%;
      height: 100%;
      background: #004e6c;
      background: transparent\9;
      background: rgba(0, 78, 108, 0.8);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC004E6C,endColorstr=#CC004E6C);
      zoom: 1; }
    #content-slide-container .content-slide-box .content-slide-trigger > a.trigger-text {
      display: block;
      position: absolute;
      z-index: 2;
      top: 0;
      bottom: auto;
      left: 0;
      padding-left: 10px;
      width: 105px;
      font-size: 26px;
      color: #fff;
      text-decoration: none; }
      #content-slide-container .content-slide-box .content-slide-trigger > a.trigger-text > span {
        display: block;
        margin-top: -10px; }
        #content-slide-container .content-slide-box .content-slide-trigger > a.trigger-text > span:first-child {
          margin-top: 0; }
    #content-slide-container .content-slide-box .content-slide-trigger > i {
      position: absolute;
      z-index: 2;
      top: 8px;
      right: 8px;
      *right: 3px;
      font-size: 18px;
      color: #fff; }
      #content-slide-container .content-slide-box .content-slide-trigger > i.icon-chevron-down {
        display: block; }
      #content-slide-container .content-slide-box .content-slide-trigger > i.icon-chevron-right {
        display: none; }
  #content-slide-container .content-slide-box .content-slide-detail {
    display: none; }

/* end content with/width out slide layout */
/* table style */
.table-box {
  margin: 30px 0 5px 0;
  padding: 0 0 5px 0;
  border-bottom: 1px solid #ccc; }
  .table-box:first-child {
    margin: 5px 0 5px 0; }
  .table-box table {
    width: 100%;
    color: #666;
    font-size: 13px; }
    .table-box table th {
      padding: 0 0 3px 0;
      *padding: 4px 0 3px 0;
      font-weight: normal;
      font-size: 18px;
      color: #fff;
      background: #004e6c;
      border: 1px solid #fff; }
    .table-box table td {
      padding: 10px 5px; }

.form-box {
  margin-top: 20px;
  padding-bottom: 10px; }
  .form-box table {
    font-size: 1.6rem;
    line-height: 2.4rem; }
    .form-box table tbody th {
      padding: 10px 5px;
      width: 160px;
      font-weight: normal;
      font-size: 1.6rem;
      line-height: 2.4rem;
      color: #333;
      text-align: left; }
    .form-box table tbody td {
      padding: 10px 5px; }

/* in form style */
.numline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  margin: 0 0 0 0;
  padding-left: 25px;
  width: 20px;
  background: url("../images/icn-folder.png") left top no-repeat;
  font-size: 14px; }

.sm-box {
  width: 26px;
  height: 19px;
  border: 1px solid #ccc; }

.sm-input, .sm-input--flag-th, .sm-input--flag-en {
  display: inline-block;
  min-width: 100px;
  padding: 0 .75rem;
  font-size: 1.6rem;
  line-height: 3rem;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  -o-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out; }
  .sm-input.disabled, .disabled.sm-input--flag-th, .disabled.sm-input--flag-en {
    background: #efefef; }
  .sm-input.readonly, .readonly.sm-input--flag-th, .readonly.sm-input--flag-en {
    cursor: default;
    background: #f9f9f9; }
  .sm-input.error, .error.sm-input--flag-th, .error.sm-input--flag-en {
    border: 1px solid #f04124;
    background: #f08978; }
  .sm-input--flag-th {
    padding-left: 25px;
    background: url("../images/icn-flag.png") 5px 3px no-repeat; }
    .sm-input--flag-th.disabled {
      background: url("../images/icn-flag.png") 5px 3px no-repeat #efefef; }
    .sm-input--flag-th.readonly {
      background: url("../images/icn-flag.png") 5px 3px no-repeat #f9f9f9; }
    .sm-input--flag-th.error {
      border: 1px solid #f04124;
      background: url("../images/icn-flag.png") 5px 3px no-repeat #f08978; }
  .sm-input--flag-en {
    padding-left: 25px;
    background: url("../images/icn-flag.png") 5px -27px no-repeat; }
    .sm-input--flag-en.disabled {
      background: url("../images/icn-flag.png") 5px 3px no-repeat #efefef; }
    .sm-input--flag-en.readonly {
      background: url("../images/icn-flag.png") 5px 3px no-repeat #f9f9f9; }
    .sm-input--flag-en.error {
      border: 1px solid #f04124;
      background: url("../images/icn-flag.png") 5px 3px no-repeat #f08978; }

.sm-textarea {
  padding: 5px;
  resize: none;
  border: 1px solid #ccc;
  color: #333;
  font-size: 13px; }
  .sm-textarea.disabled {
    background: #efefef; }

.icn-bin {
  display: inline-block;
  *display: inline;
  zoom: 1;
  width: 16px;
  height: 16px;
  background: url("../images/icn-bin.jpg") left top no-repeat; }
  .icn-bin:hover {
    background: url("../images/icn-bin.jpg") left -30px no-repeat; }

.icn-edit {
  display: inline-block;
  *display: inline;
  zoom: 1;
  width: 16px;
  height: 16px;
  background: url("../images/icn-edit.jpg") left top no-repeat; }
  .icn-edit:hover {
    background: url("../images/icn-edit.jpg") left -30px no-repeat; }

.link-text {
  display: inline-block;
  *display: inline;
  zoom: 1; }
  .link-text > a {
    color: #337188;
    text-decoration: none; }
    .link-text > a:hover {
      text-decoration: underline; }

input[type=radio][disabled] + .input-label {
  color: #ccc;
  cursor: default; }

input[type=checkbox][disabled] + .input-label {
  color: #ccc;
  cursor: default; }

.input-label {
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: #333;
  cursor: pointer; }

.switch-onoff {
  overflow: hidden;
  display: inline-block;
  *display: inline;
  zoom: 1;
  width: 78px;
  height: 21px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc; }
  .switch-onoff > .hidden-checkbox {
    display: none; }
  .switch-onoff > label {
    display: block;
    overflow: hidden;
    width: 120px;
    cursor: pointer; }
    .switch-onoff > label > span {
      float: left;
      display: block;
      width: 39px;
      height: 19px; }
    .switch-onoff > label.switch-on {
      margin-left: 0;
      -webkit-transition: margin 0.3s linear;
      -o-transition: margin 0.3s linear;
      transition: margin 0.3s linear; }
    .switch-onoff > label.switch-off {
      margin-left: -39px;
      -webkit-transition: margin 0.3s linear;
      -o-transition: margin 0.3s linear;
      transition: margin 0.3s linear; }
  .switch-onoff .switch-trigger {
    background: #337189;
    border-top: 1px solid #337189;
    border-bottom: 1px solid #337189; }
  .switch-onoff .switch-text {
    padding-top: 1px;
    height: 18px;
    color: #337189;
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    background: #fefefe;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }

.note-text {
  color: #999; }

.align-box {
  display: inline-block;
  *display: inline;
  zoom: 1; }

/* btn-row */
.btn-row {
  overflow: hidden;
  margin: 0; }
  .btn-row .btn-group {
    margin: 0; }
    .btn-row .btn-group.left {
      float: left; }
    .btn-row .btn-group.right {
      float: right; }
    .btn-row .btn-group.center {
      text-align: center; }

@font-face {
  font-family: 'kittithada_roman_55_pregular';
  src: url("../fonts/kit55p-webfont.eot");
  src: url("../fonts/kit55p-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/kit55p-webfont.woff") format("woff"), url("../fonts/kit55p-webfont.ttf") format("truetype"), url("../fonts/kit55p-webfont.svg#kittithada_roman_55_pregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'kittithada_medium_65_pregular';
  src: url("../fonts/kit65p-webfont.eot");
  src: url("../fonts/kit65p-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/kit65p-webfont.woff") format("woff"), url("../fonts/kit65p-webfont.ttf") format("truetype"), url("../fonts/kit65p-webfont.svg#kittithada_medium_65_pregular") format("svg");
  font-weight: normal;
  font-style: normal; }

.fontfacetext {
  font-family: "Kanit", sans-serif; }

.fontfacetext-bold {
  font-family: "Kanit", sans-serif; }

.slider-container {
  position: relative;
  display: none; }
  .slider-container.main-slider {
    overflow: hidden;
    position: relative;
    margin-top: 50px;
    width: 100%; }
  .slider-container.bg-slider {
    position: absolute;
    z-index: -1; }
  .slider-container img {
    width: 100%;
    height: auto;
    vertical-align: top; }

.slider-controller {
  position: absolute;
  z-index: 1;
  top: 10px;
  width: 100%; }

#foo_pager {
  z-index: 10;
  float: right;
  width: auto;
  font-size: 13px; }
  #foo_pager span.pager_list {
    float: left;
    display: block;
    margin-right: 5px;
    width: 11px;
    height: 11px; }
    #foo_pager span.pager_list > a {
      display: block;
      width: 11px;
      height: 11px;
      background: url("../images/slider/bull_pager.png") left top no-repeat; }
    #foo_pager span.pager_list.selected a {
      background: url("../images/slider/bull_pager.png") left -22px no-repeat; }

.mod_tab-content.side-tab > .header {
  float: left; }
  .mod_tab-content.side-tab > .header .btn-2stage {
    display: block; }

.mod_tab-content.side-tab > .content {
  float: left; }

.mod_tab-content > .content .tab-content {
  display: none; }
  .mod_tab-content > .content .tab-content.show {
    display: block; }

html, body {
  height: 100%; }

#se-wrapper {
  min-height: 100%; }

#page-container {
  height: 100%; }

#se-maincontainer-wrapper {
  padding-bottom: 100px; }

#se-footer-wrapper {
  position: absolute !important;
  bottom: 0; }

.no-bg-slider #se-maincontainer-wrapper {
  padding-bottom: 160px; }

.no-bg-slider #se-footer-wrapper {
  padding-top: 75px;
  bottom: 0;
  background: url("../images/bg-page.jpg") top no-repeat #fff; }

/* import scss layout */
#se-header {
  overflow: hidden;
  width: 100%;
  min-height: 65px; }
  #se-header__topbar {
    position: relative;
    z-index: 2;
    height: 50px;
    background: #333333;
    -webkit-box-shadow: #111 0px 0px 15px;
    -moz-box-shadow: #111 0px 0px 15px;
    box-shadow: #111 0px 0px 15px;
    -pie-box-shadow: #111 0px 0px 15px;
    behavior: url(pie/PIE.htc); }
  #se-header__mainmenu {
    position: relative;
    z-index: 1;
    width: 100%;
    background: #004E6C;
    -webkit-box-shadow: #111 0px 2px 8px;
    -moz-box-shadow: #111 0px 2px 8px;
    box-shadow: #111 0px 2px 8px;
    -pie-box-shadow: #111 0px 2px 8px;
    behavior: url(pie/PIE.htc); }
  #se-header__submenu {
    position: relative;
    z-index: 1;
    height: 65px;
    background: #00719b; }

/* topbar */
#main-logo {
  overflow: hidden;
  position: absolute;
  margin-left: 10px;
  height: 50px; }
  #main-logo > a {
    float: left; }
  #main-logo > .main-logo__text {
    display: block;
    float: left;
    margin: 11px 0 0 3px;
    font-size: 28px;
    color: #fff; }

#topbar-panel {
  overflow: hidden;
  position: absolute;
  right: 0;
  height: 50px; }
  #topbar-panel > .topbar-panel__box {
    float: left;
    margin: 0 17px 0 20px;
    width: auto; }
  #topbar-panel #site-preview {
    position: relative;
    height: 43px; }
    #topbar-panel #site-preview > .site-preview-text {
      position: relative;
      z-index: 2;
      display: block;
      overflow: hidden;
      padding: 0 10px 0 33px;
      width: auto;
      height: 30px;
      background: url("../images/menu/icn-site-preview.png") 5px top no-repeat #fff; }
      #topbar-panel #site-preview > .site-preview-text > a {
        display: block;
        margin-top: 5px;
        font-size: 18px;
        color: #333;
        text-decoration: none; }
        #topbar-panel #site-preview > .site-preview-text > a:hover {
          text-decoration: underline; }
    #topbar-panel #site-preview > i {
      position: absolute;
      z-index: 1;
      margin-left: 40%;
      font-size: 56px;
      color: #fff;
      bottom: -17px; }
  #topbar-panel .simple-text {
    display: block;
    margin-top: 15px;
    font-size: 20px;
    color: #999;
    text-align: center; }
  #topbar-panel #button-group {
    margin-top: 11px; }

/* end topbat */
/* mainmenu */
.no-bg-slider .shadow-wrapper {
  position: relative;
  padding-bottom: 0; }

.shadow-wrapper {
  position: absolute;
  overflow: hidden;
  padding-bottom: 10px;
  width: 100%; }

.mainmenu-row {
  position: relative;
  overflow: hidden;
  margin: 10px 0 0 0;
  width: 100%; }
  .mainmenu-row:first-child {
    margin-top: 0; }

.mainmenu-list {
  overflow: hidden;
  float: left;
  margin: 0;
  padding: 0;
  width: auto;
  height: 75px;
  border-right: 1px solid #50788e; }
  .mainmenu-list > li {
    display: block;
    overflow: hidden;
    position: relative;
    float: left;
    width: auto;
    min-width: 60px;
    height: 75px;
    border-right: 1px solid #002837;
    border-left: 1px solid #50788e;
    -webkit-transition: background 0.3s linear;
    -o-transition: background 0.3s linear;
    transition: background 0.3s linear;
    text-align: center; }
    .mainmenu-list > li:first-child {
      border-left: none; }
    .mainmenu-list > li:hover {
      background: #00719b;
      -webkit-transition: background 0.1s linear;
      -o-transition: background 0.1s linear;
      transition: background 0.1s linear; }
    .mainmenu-list > li.active {
      background: #00719b; }
    .mainmenu-list > li > a {
      display: block;
      overflow: hidden;
      position: relative;
      z-index: 2;
      padding: 48px 10px 0 10px;
      min-width: 40px;
      height: 27px;
      color: #fff;
      font-size: 20px;
      text-decoration: none;
      text-align: center;
      text-justify: auto; }
    .mainmenu-list > li > .icn-mainmenu {
      display: inline-block;
      position: relative;
      z-index: 1;
      top: -60px;
      margin: auto;
      width: 50px;
      height: 30px; }
      .mainmenu-list > li > .icn-mainmenu.menu-01 {
        background: url("../images/menu/icn-main-menu.png") 12px top no-repeat; }
      .mainmenu-list > li > .icn-mainmenu.menu-02 {
        background: url("../images/menu/icn-main-menu.png") -38px top no-repeat; }
      .mainmenu-list > li > .icn-mainmenu.menu-03 {
        background: url("../images/menu/icn-main-menu.png") -88px top no-repeat; }
      .mainmenu-list > li > .icn-mainmenu.menu-04 {
        background: url("../images/menu/icn-main-menu.png") -138px top no-repeat; }
      .mainmenu-list > li > .icn-mainmenu.menu-05 {
        background: url("../images/menu/icn-main-menu.png") 12px -50px no-repeat; }
      .mainmenu-list > li > .icn-mainmenu.menu-06 {
        background: url("../images/menu/icn-main-menu.png") -38px -50px no-repeat; }
      .mainmenu-list > li > .icn-mainmenu.menu-07 {
        background: url("../images/menu/icn-main-menu.png") -88px -50px no-repeat; }
      .mainmenu-list > li > .icn-mainmenu.menu-08 {
        background: url("../images/menu/icn-main-menu.png") -138px -50px no-repeat; }
      .mainmenu-list > li > .icn-mainmenu.menu-09 {
        background: url("../images/menu/icn-main-menu.png") 12px -100px no-repeat; }
      .mainmenu-list > li > .icn-mainmenu.menu-10 {
        background: url("../images/menu/icn-main-menu.png") -38px -100px no-repeat; }
      .mainmenu-list > li > .icn-mainmenu.menu-11 {
        background: url("../images/menu/icn-main-menu.png") -88px -100px no-repeat; }
      .mainmenu-list > li > .icn-mainmenu.menu-12 {
        background: url("../images/menu/icn-main-menu.png") -138px -100px no-repeat; }
      .mainmenu-list > li > .icn-mainmenu.menu-13 {
        background: url("../images/menu/icn-main-menu.png") 12px -150px no-repeat; }
      .mainmenu-list > li > .icn-mainmenu.menu-14 {
        background: url("../images/menu/icn-main-menu.png") -38px -150px no-repeat; }

.submenu-row {
  position: relative;
  display: none;
  clear: left;
  overflow: hidden;
  z-index: 20;
  width: 100%;
  height: 65px;
  background: #00719b; }
  .submenu-row__close {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 25px;
    height: 25px;
    background: #fff;
    font-size: 21px;
    font-weight: bold;
    color: #333;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    line-height: 26px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    -pie-border-radius: 15px;
    behavior: url(pie/PIE.htc); }
  .submenu-row.open {
    display: block; }

.submenu-list {
  display: none;
  float: left;
  margin: 0;
  padding: 0;
  width: auto;
  border-right: 1px solid #0099d2; }
  .submenu-list.active {
    display: block; }
  .submenu-list > li {
    display: block;
    float: left;
    width: auto;
    min-width: 80px;
    height: 100%;
    border-right: 1px solid #004e6c;
    border-left: 1px solid #0099d2;
    text-align: right;
    -webkit-transition: background 0.3s linear;
    -o-transition: background 0.3s linear;
    transition: background 0.3s linear; }
    .submenu-list > li:first-child {
      border-left: none; }
    .submenu-list > li:hover {
      background: #008fc6;
      -webkit-transition: background 0.1s linear;
      -o-transition: background 0.1s linear;
      transition: background 0.1s linear; }
    .submenu-list > li.active {
      background: #008fc6; }
    .submenu-list > li > a {
      display: block;
      padding: 5px 10px 0 10px;
      min-width: 60px;
      height: 65px;
      font-size: 20px;
      color: #fff;
      text-decoration: none;
      text-align: center; }
    .submenu-list > li > i {
      position: relative;
      bottom: 25px;
      margin-right: 6px;
      color: #fff;
      font-size: 12px; }

/* end mainmenu */
#se-main-container.index {
  overflow: hidden;
  margin: 0; }

#login-page {
  overflow: hidden;
  padding: 280px 0 0 270px;
  width: 565px; }

#login-form-box {
  margin-top: 20px; }
  #login-form-box table td {
    padding: 5px 0; }
  #login-form-box label {
    margin: 0 10px 0 0;
    font-size: 25px;
    color: #333; }
  #login-form-box .btn-forget-pass {
    font-size: 22px;
    color: #666;
    text-decoration: none; }
    #login-form-box .btn-forget-pass:hover {
      text-decoration: underline; }
  #login-form-box input[type=text], #login-form-box input[type=password] {
    width: 180px; }
  #login-form-box .icon-caret-right {
    color: #666; }

#se-maincontainer-wrapper.page01 {
  min-height: 320px;
  background: #f5f5f5; }

#page1col {
  padding: 20px 40px 0 40px; }
  #page1col .content-slide-box {
    width: 100%; }
    #page1col .content-slide-box .content-slide-detail {
      padding: 15px 17px 18px 17px !important; }
      #page1col .content-slide-box .content-slide-detail > .left {
        float: left;
        margin: 97px 22px 0 0;
        width: 135px; }
      #page1col .content-slide-box .content-slide-detail > .right {
        float: left;
        width: 100%; }
        #page1col .content-slide-box .content-slide-detail > .right > .header {
          margin-top: 20px;
          padding-bottom: 10px;
          min-height: 35px;
          border-bottom: 1px solid #ccc; }
          #page1col .content-slide-box .content-slide-detail > .right > .header > .left {
            float: left;
            width: auto; }
            #page1col .content-slide-box .content-slide-detail > .right > .header > .left table td {
              padding: 0 10px 0 0; }
          #page1col .content-slide-box .content-slide-detail > .right > .header > .right {
            float: right;
            width: auto; }
            #page1col .content-slide-box .content-slide-detail > .right > .header > .right table td {
              padding: 0 0 0 10px; }
        #page1col .content-slide-box .content-slide-detail > .right .header-text {
          font-size: 2.4rem;
          line-height: 2.8rem;
          color: #006600; }
        #page1col .content-slide-box .content-slide-detail > .right .desc-box {
          margin-top: 10px;
          padding: 10px;
          font-size: 1.4rem;
          line-height: 1.8rem;
          color: #666;
          background: #efefef;
          border: 1px solid #eaeaea; }
        #page1col .content-slide-box .content-slide-detail > .right > .content {
          display: block; }
          #page1col .content-slide-box .content-slide-detail > .right > .content .table-box {
            margin-top: 20px;
            padding-bottom: 10px; }
            #page1col .content-slide-box .content-slide-detail > .right > .content .table-box table th {
              padding: 10px 5px;
              font-weight: normal;
              font-size: 1.6rem;
              line-height: 2.4rem;
              color: #fff;
              background: #10a44a;
              border: 1px solid #fff; }
            #page1col .content-slide-box .content-slide-detail > .right > .content .table-box table td {
              padding: 10px 5px;
              font-size: 1.6rem;
              line-height: 2.4rem; }
  #page1col a.back_link {
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: #10a44a;
    text-decoration: none;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out; }
    #page1col a.back_link:hover {
      color: #006600; }

#sidemenu-box > .btn-2stage {
  margin: 4px 0 0 0;
  padding: 0;
  width: 100%;
  text-align: left;
  vertical-align: middle; }
  #sidemenu-box > .btn-2stage:first-child {
    margin-top: 0; }
  #sidemenu-box > .btn-2stage > a {
    display: block;
    padding: 3px 15px 3px 10px !important; }

#se-maincontainer-wrapper.page02 {
  min-height: 320px;
  background: #f5f5f5; }

#page2col {
  overflow: hidden;
  padding: 20px 40px 0 40px; }
  #page2col .content-slide-box {
    float: left;
    width: 620px; }
    #page2col .content-slide-box .content-slide-detail {
      padding: 115px 18px 18px 18px !important; }
      #page2col .content-slide-box .content-slide-detail .header-text {
        font-size: 26px; }
  #page2col .sidebox {
    float: left;
    margin: 25px 0 0 9px;
    padding: 5px 10px;
    width: 275px;
    min-height: 125px;
    background: #fff;
    border: 1px solid #ccc; }
    #page2col .sidebox .header-text {
      font-size: 26px; }

#logo-select .mod_tab-content > .header {
  height: 35px;
  vertical-align: top;
  line-height: 20px; }
  #logo-select .mod_tab-content > .header .header-text {
    margin: 0 10px 0 0;
    height: 29px; }

#logo-select .mod_tab-content > .content {
  padding: 8px 10px 20px 10px;
  min-height: 200px;
  border: 1px dotted #333333; }

#logo-select-pc {
  text-align: center; }
  #logo-select-pc .text-box {
    display: block;
    font-size: 26px;
    color: #999; }
  #logo-select-pc .btn-line {
    margin: 45px 0 0 0; }

#logo-current {
  margin-top: 10px;
  width: 100%; }
  #logo-current > img {
    max-width: 100%;
    width: auto; }

#se-footer {
  overflow: hidden;
  padding: 12px 0 10px 0; }
  #se-footer .se-footer__box {
    float: left;
    margin: 0 15px;
    width: auto; }

#callcenter {
  position: relative;
  overflow: hidden;
  padding-left: 50px;
  height: 50px;
  background: url("../images/icn-callcenter.png") left top no-repeat; }
  #callcenter > span {
    display: block; }
    #callcenter > span.cc-text {
      margin-top: -5px;
      font-size: 26px;
      color: #004E6C; }
    #callcenter > span.cc-num {
      margin-top: -10px;
      font-size: 32px;
      color: #999999; }

#site-storage {
  overflow: hidden; }
  #site-storage > span {
    display: block;
    float: left;
    margin: 0 10px;
    font-size: 26px;
    color: #004E6C; }
  #site-storage .storage-bar-container {
    float: left;
    margin: 5px 0 0 0;
    width: 250px;
    border: 1px solid #014f6d;
    height: 15px; }
    #site-storage .storage-bar-container > .storage-bar {
      display: block;
      height: 100%;
      background: #014f6d; }

#last-login {
  overflow: hidden; }
  #last-login > span {
    display: block;
    float: left;
    margin-right: 10px;
    font-size: 24px;
    color: #666; }
    #last-login > span:first-child {
      font-size: 26px;
      color: #004E6C; }

#switch-language {
  display: inline-block;
  *display: inline;
  zoom: 1;
  overflow: hidden;
  margin: 0 0 0 0;
  padding: 0;
  list-style: none; }
  #switch-language > li {
    display: block;
    float: left;
    margin: 0 5px;
    padding: 0 0 0 0;
    width: auto;
    font-size: 26px;
    color: #004e6c; }
    #switch-language > li > a {
      display: block;
      margin: 0 0 0 0;
      padding: 0 0 0 20px;
      width: 15px;
      height: 12px;
      font-size: 16px;
      color: #666;
      text-decoration: none; }
      #switch-language > li > a:hover {
        text-decoration: underline; }
    #switch-language > li.flag-th {
      padding-top: 8px; }
      #switch-language > li.flag-th > a {
        background: url("../images/icn-flag2.png") left -60px no-repeat; }
      #switch-language > li.flag-th.active > a {
        background: url("../images/icn-flag2.png") left top no-repeat; }
      #switch-language > li.flag-th:hover > a {
        background: url("../images/icn-flag2.png") left top no-repeat; }
    #switch-language > li.flag-en {
      padding-top: 8px; }
      #switch-language > li.flag-en > a {
        background: url("../images/icn-flag2.png") left -90px no-repeat; }
      #switch-language > li.flag-en.active > a {
        background: url("../images/icn-flag2.png") left -30px no-repeat; }
      #switch-language > li.flag-en:hover > a {
        background: url("../images/icn-flag2.png") left -30px no-repeat; }

/* Import responsive control stylesheet */
/* **DO NOT** import another scss component below!! */
