/* set global config vars */
/* defualt font family */
/* defualt page width setting(PC) */
/* off canvas menu width *ex. 70px or 70% */
/* footer height */
/* font size multiplier */
/* defualt font size */
/* defualt font color */
/* mediaquery breakpoint */
/* ------------------------------------------- */
/* Import grid system */
/* line 10, ../sass/_justifygrid.scss */
.se-box {
  text-align: justify !important;
  text-justify: distribute-all-lines;
  font-size: 0 !important;
  overflow: hidden;
}
/* line 16, ../sass/_justifygrid.scss */
.se-box > * {
  text-align: left;
  font-size: medium;
  text-justify: auto;
}
/* line 22, ../sass/_justifygrid.scss */
.se-box::after {
  content: '';
  display: inline-block;
  width: 100%;
}
/* line 29, ../sass/_justifygrid.scss */
.lt-ie8 .se-box {
  zoom: 1;
}

/* line 35, ../sass/_justifygrid.scss */
.se-box__item {
  vertical-align: top;
  display: inline-block;
  width: 100%;
}
/* line 41, ../sass/_justifygrid.scss */
.lt-ie8 .se-box__item {
  display: inline;
}

/* line 81, ../sass/_justifygrid.scss */
.se-box__item--span1 {
  width: 6.77966%;
}
/* line 84, ../sass/_justifygrid.scss */
.se-box__item--push1 {
  position: relative;
  left: 8.47458%;
}
/* line 81, ../sass/_justifygrid.scss */
.se-box__item--span2 {
  width: 15.25424%;
}
/* line 84, ../sass/_justifygrid.scss */
.se-box__item--push2 {
  position: relative;
  left: 16.94915%;
}
/* line 81, ../sass/_justifygrid.scss */
.se-box__item--span3 {
  width: 23.72881%;
}
/* line 84, ../sass/_justifygrid.scss */
.se-box__item--push3 {
  position: relative;
  left: 25.42373%;
}
/* line 81, ../sass/_justifygrid.scss */
.se-box__item--span4 {
  width: 32.20339%;
}
/* line 84, ../sass/_justifygrid.scss */
.se-box__item--push4 {
  position: relative;
  left: 33.89831%;
}
/* line 81, ../sass/_justifygrid.scss */
.se-box__item--span5 {
  width: 40.67797%;
}
/* line 84, ../sass/_justifygrid.scss */
.se-box__item--push5 {
  position: relative;
  left: 42.37288%;
}
/* line 81, ../sass/_justifygrid.scss */
.se-box__item--span6 {
  width: 49.15254%;
}
/* line 84, ../sass/_justifygrid.scss */
.se-box__item--push6 {
  position: relative;
  left: 50.84746%;
}
/* line 81, ../sass/_justifygrid.scss */
.se-box__item--span7 {
  width: 57.62712%;
}
/* line 84, ../sass/_justifygrid.scss */
.se-box__item--push7 {
  position: relative;
  left: 59.32203%;
}
/* line 81, ../sass/_justifygrid.scss */
.se-box__item--span8 {
  width: 66.10169%;
}
/* line 84, ../sass/_justifygrid.scss */
.se-box__item--push8 {
  position: relative;
  left: 67.79661%;
}
/* line 81, ../sass/_justifygrid.scss */
.se-box__item--span9 {
  width: 74.57627%;
}
/* line 84, ../sass/_justifygrid.scss */
.se-box__item--push9 {
  position: relative;
  left: 76.27119%;
}
/* line 81, ../sass/_justifygrid.scss */
.se-box__item--span10 {
  width: 83.05085%;
}
/* line 84, ../sass/_justifygrid.scss */
.se-box__item--push10 {
  position: relative;
  left: 84.74576%;
}
/* line 81, ../sass/_justifygrid.scss */
.se-box__item--span11 {
  width: 91.52542%;
}
/* line 84, ../sass/_justifygrid.scss */
.se-box__item--push11 {
  position: relative;
  left: 93.22034%;
}
/* line 81, ../sass/_justifygrid.scss */
.se-box__item--span12 {
  width: 100%;
}
/* line 84, ../sass/_justifygrid.scss */
.se-box__item--push12 {
  position: relative;
  left: 101.69492%;
}
/* line 91, ../sass/_justifygrid.scss */
.se-box--left {
  overflow: hidden;
  text-align: left !important;
}
/* line 96, ../sass/_justifygrid.scss */
.se-box--right {
  overflow: hidden;
  text-align: right !important;
}
/* line 101, ../sass/_justifygrid.scss */
.se-box--center {
  overflow: hidden;
  text-align: center !important;
}
/* line 106, ../sass/_justifygrid.scss */
.se-box--block {
  overflow: hidden;
  text-align: left !important;
}
/* line 109, ../sass/_justifygrid.scss */
.se-box--block > .se-box__item {
  display: block;
}

/* Import scss components */
/* note : for IE8,7 need css3pie helper*/
/* remove link outline */
/* line 2, ../sass/_global-styles.scss */
a:hover, a:active, a:focus, input[type=radio] {
  outline: 0;
}

/* clear float */
/* line 7, ../sass/_global-styles.scss */
.clearfix {
  clear: both;
}

/* main structure */
/* line 12, ../sass/_global-styles.scss */
#se-wrapper {
  position: relative;
  margin: auto;
  /*max-width: 1265px;
  min-width: 1265px;*/
}

/* line 18, ../sass/_global-styles.scss */
#page-container {
  width: 100%;
}

/* line 21, ../sass/_global-styles.scss */
#se-header-wrapper {
  width: 100%;
}

/* line 24, ../sass/_global-styles.scss */
#se-maincontainer-wrapper {
  min-height: 590px;
}

/* line 31, ../sass/_global-styles.scss */
#se-footer-wrapper {
  width: 100%;
  min-height: 80px;
  background: #fff;
}

/* end main structure */
/* page navigation */
/* line 39, ../sass/_global-styles.scss */
#page-navi {
  display: block;
  margin: 0;
  padding: 10px;
}
/* line 43, ../sass/_global-styles.scss */
#page-navi > li {
  display: inline;
  font-size: 14px;
  color: #444;
}
/* line 47, ../sass/_global-styles.scss */
#page-navi > li.current {
  color: #004e6c;
}
/* line 50, ../sass/_global-styles.scss */
#page-navi > li > a {
  color: #444;
  text-decoration: none;
}
/* line 54, ../sass/_global-styles.scss */
#page-navi > li > a:hover {
  text-decoration: underline;
  color: #333;
}

/* end page navigation */
/* button style */
/* line 65, ../sass/_global-styles.scss */
.btn {
  position: relative;
  display: inline-block;
  *display: inline;
  zoom: 1;
  width: auto;
  min-width: 60px;
  background: #ccc;
  text-align: center;
  line-height: 100%;
}
/* line 75, ../sass/_global-styles.scss */
.btn > a {
  display: inline-block;
  *display: inline;
  zoom: 1;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  color: #fff;
  text-decoration: none;
}
/* line 85, ../sass/_global-styles.scss */
.btn > input[type=button], .btn input[type=submit], .btn input[type=reset] {
  margin: 0;
  *margin-top: -2px;
  padding: 0;
  vertical-align: middle;
  *vertical-align: top;
  color: #fff;
  border: 0 none;
  background: 0 none;
  outline: 0 none;
  box-sizing: content-box;
}
/* line 97, ../sass/_global-styles.scss */
.btn.big {
  padding: 0 13px;
  height: 29px;
  font-size: 22px;
}
/* line 102, ../sass/_global-styles.scss */
.btn.round {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -pie-border-radius: 5px;
  behavior: url(pie/PIE.htc);
}
/* line 105, ../sass/_global-styles.scss */
.btn.disabled {
  background: #efefef !important;
  cursor: default;
}
/* line 108, ../sass/_global-styles.scss */
.btn.disabled > a, .btn.disabled input[type=button], .btn.disabled input[type=submit], .btn.disabled input[type=reset] {
  cursor: default;
  color: #fff;
}
/* line 113, ../sass/_global-styles.scss */
.btn.blue {
  background: #7e7e7e;
  /* Old browsers */
  background: -moz-linear-gradient(top, #7e7e7e 0%, #181818 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7e7e7e), color-stop(100%, #181818));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #7e7e7e 0%, #181818 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #7e7e7e 0%, #181818 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #7e7e7e 0%, #181818 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #7e7e7e 0%, #181818 100%);
  /* W3C */
  -pie-background: linear-gradient(#7e7e7e, #181818);
  /* IE6-9 via PIE */
  behavior: url(pie/PIE.htc);
}
/* line 115, ../sass/_global-styles.scss */
.btn.blue:hover {
  background: #949494;
  /* Old browsers */
  background: -moz-linear-gradient(top, #949494 0%, #585858 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #949494), color-stop(100%, #585858));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #949494 0%, #585858 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #949494 0%, #585858 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #949494 0%, #585858 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #949494 0%, #585858 100%);
  /* W3C */
  -pie-background: linear-gradient(#949494, #585858);
  /* IE6-9 via PIE */
  behavior: url(pie/PIE.htc);
}
/* line 121, ../sass/_global-styles.scss */
.btn.green {
  background: #7e7e7e;
  /* Old browsers */
  background: -moz-linear-gradient(top, #7e7e7e 0%, #181818 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7e7e7e), color-stop(100%, #181818));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #7e7e7e 0%, #181818 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #7e7e7e 0%, #181818 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #7e7e7e 0%, #181818 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #7e7e7e 0%, #181818 100%);
  /* W3C */
  -pie-background: linear-gradient(#7e7e7e, #181818);
  /* IE6-9 via PIE */
  behavior: url(pie/PIE.htc);
}
/* line 123, ../sass/_global-styles.scss */
.btn.green:hover {
  background: #949494;
  /* Old browsers */
  background: -moz-linear-gradient(top, #949494 0%, #585858 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #949494), color-stop(100%, #585858));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #949494 0%, #585858 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #949494 0%, #585858 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #949494 0%, #585858 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #949494 0%, #585858 100%);
  /* W3C */
  -pie-background: linear-gradient(#949494, #585858);
  /* IE6-9 via PIE */
  behavior: url(pie/PIE.htc);
}
/* line 129, ../sass/_global-styles.scss */
.btn.gray {
  background: #cccccc;
  /* Old browsers */
  background: -moz-linear-gradient(top, #cccccc 0%, #6c6c6c 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cccccc), color-stop(100%, #6c6c6c));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #cccccc 0%, #6c6c6c 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #cccccc 0%, #6c6c6c 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #cccccc 0%, #6c6c6c 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #cccccc 0%, #6c6c6c 100%);
  /* W3C */
  -pie-background: linear-gradient(#cccccc, #6c6c6c);
  /* IE6-9 via PIE */
  behavior: url(pie/PIE.htc);
}
/* line 131, ../sass/_global-styles.scss */
.btn.gray:hover {
  background: #d4d4d4;
  /* Old browsers */
  background: -moz-linear-gradient(top, #d4d4d4 0%, #747474 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d4d4d4), color-stop(100%, #747474));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #d4d4d4 0%, #747474 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #d4d4d4 0%, #747474 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #d4d4d4 0%, #747474 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #d4d4d4 0%, #747474 100%);
  /* W3C */
  -pie-background: linear-gradient(#d4d4d4, #747474);
  /* IE6-9 via PIE */
  behavior: url(pie/PIE.htc);
}

/* line 139, ../sass/_global-styles.scss */
.btn-2stage {
  position: relative;
  display: inline-block;
  *display: inline;
  zoom: 1;
  min-height: 29px;
  width: auto;
  min-width: 60px;
  background: #49EE1A;
  text-align: center;
  line-height: 100%;
  background: #ccc;
}
/* line 151, ../sass/_global-styles.scss */
.btn-2stage.big {
  font-size: 22px;
}
/* line 155, ../sass/_global-styles.scss */
.btn-2stage.arrow {
  padding: 0 15px 0 10px;
}
/* line 158, ../sass/_global-styles.scss */
.btn-2stage > a {
  display: inline-block;
  *display: inline;
  zoom: 1;
  margin: 0;
  padding: 0 10px;
  min-width: 60px;
  vertical-align: middle;
  color: #fff;
  text-decoration: none;
}
/* line 169, ../sass/_global-styles.scss */
.btn-2stage > input[type=button], .btn-2stage input[type=submit], .btn-2stage input[type=reset] {
  margin: 0;
  *margin-top: -2px;
  padding: 0;
  vertical-align: middle;
  *vertical-align: top;
  color: #fff;
  border: 0 none;
  background: 0 none;
  outline: 0 none;
  box-sizing: content-box;
}
/* line 181, ../sass/_global-styles.scss */
.btn-2stage > i {
  display: none;
  float: right;
  margin: 5px 5px 0 0;
  font-size: 14px;
  color: #fff;
}
/* line 189, ../sass/_global-styles.scss */
.btn-2stage.active > i {
  display: block;
  position: absolute;
  top: 1px;
  *top: 2px;
  right: 0;
  font-size: 14px;
  color: #fff;
}
/* line 202, ../sass/_global-styles.scss */
.btn-2stage:hover {
  background: #d4d4d4;
}
/* line 206, ../sass/_global-styles.scss */
.btn-2stage.blue.active {
  background: #004e6c;
  cursor: default;
}
/* line 208, ../sass/_global-styles.scss */
.btn-2stage.blue.active > a {
  cursor: default;
}
/* line 212, ../sass/_global-styles.scss */
.btn-2stage.blue.active:hover {
  background: #00597b;
}

/* end button style */
/* input round border style */
/* line 221, ../sass/_global-styles.scss */
.input-round-small {
  position: relative;
  display: inline-block;
  *display: inline;
  zoom: 1;
  padding: 2px 6px;
  border: 1px solid #ccc;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  -pie-border-radius: 15px;
  behavior: url(pie/PIE.htc);
}
/* line 230, ../sass/_global-styles.scss */
.input-round-small > input[type=text], .input-round-small input[type=password] {
  font-size: 14px;
  color: #333;
  vertical-align: top;
  border: 0;
  outline: 0;
}

/* line 238, ../sass/_global-styles.scss */
.input-round-big {
  position: relative;
  display: inline-block;
  *display: inline;
  zoom: 1;
  padding: 5px 6px;
  border: 1px solid #ccc;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  -pie-border-radius: 15px;
  behavior: url(pie/PIE.htc);
}
/* line 247, ../sass/_global-styles.scss */
.input-round-big > input[type=text], .input-round-big input[type=password] {
  font-size: 15px;
  color: #333;
  vertical-align: top;
  border: 0;
  outline: 0;
}

/* end input style */
/* content with/width out slide layout */
/* line 259, ../sass/_global-styles.scss */
#content-slide-container .content-slide-box {
  position: relative;
  margin: 0 0 2px 0;
  min-height: 47px;
}
/* line 266, ../sass/_global-styles.scss */
#content-slide-container .content-slide-box.expanded {
  padding-top: 25px;
}
/* line 268, ../sass/_global-styles.scss */
#content-slide-container .content-slide-box.expanded .content-slide-trigger {
  position: absolute;
  z-index: 2;
  margin-top: -25px;
  margin-left: 18px;
  width: 135px;
  height: 125px;
}
/* line 276, ../sass/_global-styles.scss */
#content-slide-container .content-slide-box.expanded .content-slide-trigger .slide-bg {
  position: relative;
  width: 100%;
  height: 100%;
  background: #004e6c;
  background: transparent\9;
  background: rgba(0, 78, 108, 0.8);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC004E6C,endColorstr=#CC004E6C);
  zoom: 1;
}
/* line 283, ../sass/_global-styles.scss */
#content-slide-container .content-slide-box.expanded .content-slide-trigger > a.trigger-text {
  display: block;
  position: absolute;
  z-index: 2;
  top: auto;
  bottom: 20px;
  left: 0;
  padding-left: 10px;
  width: 105px;
  font-size: 26px;
  color: #fff;
  text-decoration: none;
  cursor: default;
}
/* line 296, ../sass/_global-styles.scss */
#content-slide-container .content-slide-box.expanded .content-slide-trigger > a.trigger-text > span {
  display: block;
  margin-top: -10px;
}
/* line 299, ../sass/_global-styles.scss */
#content-slide-container .content-slide-box.expanded .content-slide-trigger > a.trigger-text > span:first-child {
  margin-top: 0;
}
/* line 304, ../sass/_global-styles.scss */
#content-slide-container .content-slide-box.expanded .content-slide-trigger > i {
  position: absolute;
  z-index: 2;
  top: 8px;
  right: 8px;
  *right: 3px;
  font-size: 18px;
  color: #fff;
}
/* line 312, ../sass/_global-styles.scss */
#content-slide-container .content-slide-box.expanded .content-slide-trigger > i.icon-chevron-down {
  display: none;
}
/* line 315, ../sass/_global-styles.scss */
#content-slide-container .content-slide-box.expanded .content-slide-trigger > i.icon-chevron-right {
  display: block;
}
/* line 320, ../sass/_global-styles.scss */
#content-slide-container .content-slide-box.expanded .content-slide-detail {
  display: block;
  z-index: 1;
  margin: 0 0 0 0;
  padding: 5px 10px 5px 170px;
  min-height: 125px;
  background: #fff;
  border: 1px solid #ccc;
}
/* line 332, ../sass/_global-styles.scss */
#content-slide-container .content-slide-box .content-slide-trigger {
  position: absolute;
  z-index: 2;
  margin-top: 0;
  margin-left: 18px;
  width: 135px;
  height: 47px;
}
/* line 340, ../sass/_global-styles.scss */
#content-slide-container .content-slide-box .content-slide-trigger .slide-bg {
  position: relative;
  width: 100%;
  height: 100%;
  background: #004e6c;
  background: transparent\9;
  background: rgba(0, 78, 108, 0.8);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC004E6C,endColorstr=#CC004E6C);
  zoom: 1;
}
/* line 347, ../sass/_global-styles.scss */
#content-slide-container .content-slide-box .content-slide-trigger > a.trigger-text {
  display: block;
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: auto;
  left: 0;
  padding-left: 10px;
  width: 105px;
  font-size: 26px;
  color: #fff;
  text-decoration: none;
}
/* line 359, ../sass/_global-styles.scss */
#content-slide-container .content-slide-box .content-slide-trigger > a.trigger-text > span {
  display: block;
  margin-top: -10px;
}
/* line 362, ../sass/_global-styles.scss */
#content-slide-container .content-slide-box .content-slide-trigger > a.trigger-text > span:first-child {
  margin-top: 0;
}
/* line 367, ../sass/_global-styles.scss */
#content-slide-container .content-slide-box .content-slide-trigger > i {
  position: absolute;
  z-index: 2;
  top: 8px;
  right: 8px;
  *right: 3px;
  font-size: 18px;
  color: #fff;
}
/* line 375, ../sass/_global-styles.scss */
#content-slide-container .content-slide-box .content-slide-trigger > i.icon-chevron-down {
  display: block;
}
/* line 378, ../sass/_global-styles.scss */
#content-slide-container .content-slide-box .content-slide-trigger > i.icon-chevron-right {
  display: none;
}
/* line 384, ../sass/_global-styles.scss */
#content-slide-container .content-slide-box .content-slide-detail {
  display: none;
}

/* end content with/width out slide layout */
/* table style */
/* line 393, ../sass/_global-styles.scss */
.table-box {
  margin: 30px 0 5px 0;
  padding: 0 0 5px 0;
  border-bottom: 1px solid #ccc;
}
/* line 397, ../sass/_global-styles.scss */
.table-box:first-child {
  margin: 5px 0 5px 0;
}
/* line 400, ../sass/_global-styles.scss */
.table-box table {
  width: 100%;
  color: #666;
  font-size: 14px;
}
/* line 404, ../sass/_global-styles.scss */
.table-box table th {
  padding: 0 0 3px 0;
  *padding: 4px 0 3px 0;
  font-weight: normal;
  font-size: 22px;
  color: #fff;
  background: #3f3f3f;
  border: 1px solid #fff;
}
/* line 413, ../sass/_global-styles.scss */
.table-box table td {
  padding: 10px 5px;
}

/* line 418, ../sass/_global-styles.scss */
.form-box {
  margin: 5px 0 5px 0;
}
/* line 423, ../sass/_global-styles.scss */
.form-box table {
  font-size: 14px;
}
/* line 426, ../sass/_global-styles.scss */
.form-box table tbody th {
  width: 160px;
  color: #333;
  text-align: left;
}
/* line 431, ../sass/_global-styles.scss */
.form-box table tbody td {
  padding: 10px 5px;
}

/* in form style */
/* line 438, ../sass/_global-styles.scss */
.numline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  margin: 0 0 0 0;
  padding-left: 25px;
  width: 20px;
  background: url("../images/icn-folder.png") left top no-repeat;
  font-size: 14px;
}

/* line 448, ../sass/_global-styles.scss */
.sm-box {
  width: 26px;
  height: 19px;
  border: 1px solid #ccc;
}

/* line 453, ../sass/_global-styles.scss */
.sm-input, .sm-input--flag-th, .sm-input--flag-en {
  padding: 0 5px;
  min-width: 100px;
  height: 19px;
  border: 1px solid #ccc;
  color: #333;
  font-size: 14px;
}
/* line 460, ../sass/_global-styles.scss */
.sm-input.disabled, .disabled.sm-input--flag-th, .disabled.sm-input--flag-en {
  background: #efefef;
}
/* line 463, ../sass/_global-styles.scss */
.sm-input.readonly, .readonly.sm-input--flag-th, .readonly.sm-input--flag-en {
  cursor: default;
  background: #f9f9f9;
}
/* line 467, ../sass/_global-styles.scss */
.sm-input.error, .error.sm-input--flag-th, .error.sm-input--flag-en {
  border: 1px solid #f04124;
  background: #f08978;
}
/* line 471, ../sass/_global-styles.scss */
.sm-input--flag-th {
  padding-left: 25px;
  background: url("../images/icn-flag.png") 5px 3px no-repeat;
}
/* line 476, ../sass/_global-styles.scss */
.sm-input--flag-th.disabled {
  background: url("../images/icn-flag.png") 5px 3px no-repeat #efefef;
}
/* line 479, ../sass/_global-styles.scss */
.sm-input--flag-th.readonly {
  background: url("../images/icn-flag.png") 5px 3px no-repeat #f9f9f9;
}
/* line 482, ../sass/_global-styles.scss */
.sm-input--flag-th.error {
  border: 1px solid #f04124;
  background: url("../images/icn-flag.png") 5px 3px no-repeat #f08978;
}
/* line 487, ../sass/_global-styles.scss */
.sm-input--flag-en {
  padding-left: 25px;
  background: url("../images/icn-flag.png") 5px -27px no-repeat;
}
/* line 492, ../sass/_global-styles.scss */
.sm-input--flag-en.disabled {
  background: url("../images/icn-flag.png") 5px 3px no-repeat #efefef;
}
/* line 495, ../sass/_global-styles.scss */
.sm-input--flag-en.readonly {
  background: url("../images/icn-flag.png") 5px 3px no-repeat #f9f9f9;
}
/* line 498, ../sass/_global-styles.scss */
.sm-input--flag-en.error {
  border: 1px solid #f04124;
  background: url("../images/icn-flag.png") 5px 3px no-repeat #f08978;
}

/* line 504, ../sass/_global-styles.scss */
.sm-textarea {
  padding: 5px;
  resize: none;
  border: 1px solid #ccc;
  color: #333;
  font-size: 14px;
}
/* line 510, ../sass/_global-styles.scss */
.sm-textarea.disabled {
  background: #efefef;
}

/* line 514, ../sass/_global-styles.scss */
.icn-bin {
  display: inline-block;
  *display: inline;
  zoom: 1;
  width: 16px;
  height: 16px;
  background: url("../images/icn-bin.jpg") left top no-repeat;
}
/* line 521, ../sass/_global-styles.scss */
.icn-bin:hover {
  background: url("../images/icn-bin.jpg") left -30px no-repeat;
}

/* line 525, ../sass/_global-styles.scss */
.icn-edit {
  display: inline-block;
  *display: inline;
  zoom: 1;
  width: 16px;
  height: 16px;
  background: url("../images/icn-edit.jpg") left top no-repeat;
}
/* line 532, ../sass/_global-styles.scss */
.icn-edit:hover {
  background: url("../images/icn-edit.jpg") left -30px no-repeat;
}

/* line 536, ../sass/_global-styles.scss */
.link-text {
  display: inline-block;
  *display: inline;
  zoom: 1;
}
/* line 540, ../sass/_global-styles.scss */
.link-text > a {
  color: #383838;
  text-decoration: none;
}
/* line 543, ../sass/_global-styles.scss */
.link-text > a:hover {
  text-decoration: underline;
}

/* line 548, ../sass/_global-styles.scss */
input[type=radio][disabled] + .input-label {
  color: #ccc;
  cursor: default;
}

/* line 552, ../sass/_global-styles.scss */
input[type=checkbox][disabled] + .input-label {
  color: #ccc;
  cursor: default;
}

/* line 556, ../sass/_global-styles.scss */
.input-label {
  font-size: 14px;
  color: #333;
  cursor: pointer;
}

/* line 561, ../sass/_global-styles.scss */
.switch-onoff {
  overflow: hidden;
  display: inline-block;
  *display: inline;
  zoom: 1;
  width: 78px;
  height: 21px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
/* line 571, ../sass/_global-styles.scss */
.switch-onoff > .hidden-checkbox {
  display: none;
}
/* line 574, ../sass/_global-styles.scss */
.switch-onoff > label {
  display: block;
  overflow: hidden;
  width: 120px;
  cursor: pointer;
}
/* line 580, ../sass/_global-styles.scss */
.switch-onoff > label > span {
  float: left;
  display: block;
  width: 39px;
  height: 19px;
}
/* line 586, ../sass/_global-styles.scss */
.switch-onoff > label.switch-on {
  margin-left: 0;
  transition: margin 0.3s linear;
}
/* line 590, ../sass/_global-styles.scss */
.switch-onoff > label.switch-off {
  margin-left: -39px;
  transition: margin 0.3s linear;
}
/* line 595, ../sass/_global-styles.scss */
.switch-onoff .switch-trigger {
  background: #337189;
  border-top: 1px solid #337189;
  border-bottom: 1px solid #337189;
}
/* line 600, ../sass/_global-styles.scss */
.switch-onoff .switch-text {
  padding-top: 1px;
  height: 18px;
  color: #337189;
  font-family: arial;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  background: #fefefe;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 621, ../sass/_global-styles.scss */
.note-text {
  color: #999;
}

/* line 624, ../sass/_global-styles.scss */
.align-box {
  display: inline-block;
  *display: inline;
  zoom: 1;
}

/* btn-row */
/* line 630, ../sass/_global-styles.scss */
.btn-row {
  overflow: hidden;
  margin: 0;
}
/* line 633, ../sass/_global-styles.scss */
.btn-row .btn-group {
  margin: 0;
}
/* line 635, ../sass/_global-styles.scss */
.btn-row .btn-group.left {
  float: left;
}
/* line 638, ../sass/_global-styles.scss */
.btn-row .btn-group.right {
  float: right;
}
/* line 641, ../sass/_global-styles.scss */
.btn-row .btn-group.center {
  text-align: center;
}

@font-face {
  font-family: 'kittithada_roman_55_pregular';
  src: url("../fonts/kit55p-webfont.eot");
  src: url("../fonts/kit55p-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/kit55p-webfont.woff") format("woff"), url("../fonts/kit55p-webfont.ttf") format("truetype"), url("../fonts/kit55p-webfont.svg#kittithada_roman_55_pregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'kittithada_medium_65_pregular';
  src: url("../fonts/kit65p-webfont.eot");
  src: url("../fonts/kit65p-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/kit65p-webfont.woff") format("woff"), url("../fonts/kit65p-webfont.ttf") format("truetype"), url("../fonts/kit65p-webfont.svg#kittithada_medium_65_pregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 26, ../sass/_fontface.scss */
.fontfacetext {
  font-family: "kittithada_roman_55_pregular";
}

/* line 29, ../sass/_fontface.scss */
.fontfacetext-bold {
  font-family: "kittithada_medium_65_pregular";
}

/* line 1, ../sass/_mod-main-slide.scss */
.slider-container {
  position: relative;
  display: none;
}
/* line 4, ../sass/_mod-main-slide.scss */
.slider-container.main-slider {
  overflow: hidden;
  position: relative;
  margin-top: 50px;
  width: 100%;
}
/* line 11, ../sass/_mod-main-slide.scss */
.slider-container.bg-slider {
  position: absolute;
  z-index: -1;
}
/* line 18, ../sass/_mod-main-slide.scss */
.slider-container img {
  width: 100%;
  height: auto;
  vertical-align: top;
}

/* line 24, ../sass/_mod-main-slide.scss */
.slider-controller {
  position: absolute;
  z-index: 1;
  top: 10px;
  width: 100%;
}

/* line 31, ../sass/_mod-main-slide.scss */
#foo_pager {
  z-index: 10;
  float: right;
  width: auto;
  font-size: 14px;
}
/* line 37, ../sass/_mod-main-slide.scss */
#foo_pager span.pager_list {
  float: left;
  display: block;
  margin-right: 5px;
  width: 11px;
  height: 11px;
}
/* line 43, ../sass/_mod-main-slide.scss */
#foo_pager span.pager_list > a {
  display: block;
  width: 11px;
  height: 11px;
  background: url("../images/slider/bull_pager.png") left top no-repeat;
}
/* line 49, ../sass/_mod-main-slide.scss */
#foo_pager span.pager_list.selected a {
  background: url("../images/slider/bull_pager.png") left -22px no-repeat;
}

/* line 3, ../sass/_mod-tab-content.scss */
.mod_tab-content.side-tab > .header {
  float: left;
}
/* line 5, ../sass/_mod-tab-content.scss */
.mod_tab-content.side-tab > .header .btn-2stage {
  display: block;
}
/* line 9, ../sass/_mod-tab-content.scss */
.mod_tab-content.side-tab > .content {
  float: left;
}
/* line 17, ../sass/_mod-tab-content.scss */
.mod_tab-content > .content .tab-content {
  display: none;
}
/* line 19, ../sass/_mod-tab-content.scss */
.mod_tab-content > .content .tab-content.show {
  display: block;
}

/* line 1, ../sass/_mod-sticky-footer.scss */
html, body {
  height: 100%;
}

/* line 4, ../sass/_mod-sticky-footer.scss */
#se-wrapper {
  min-height: 100%;
}

/* line 12, ../sass/_mod-sticky-footer.scss */
#page-container {
  height: 100%;
}

/* line 15, ../sass/_mod-sticky-footer.scss */
#se-maincontainer-wrapper {
  /*padding-bottom: 100px;*/
}

/* line 18, ../sass/_mod-sticky-footer.scss */
#se-footer-wrapper {
  position: absolute !important;
  bottom: 0;
}

/* line 23, ../sass/_mod-sticky-footer.scss */
.no-bg-slider #se-maincontainer-wrapper {
  /*padding-bottom: 160px;*/
}
/* line 26, ../sass/_mod-sticky-footer.scss */
.no-bg-slider #se-footer-wrapper {
  padding-top: 75px;
  bottom: 0;
  background: url("../images/bg-page.jpg") top no-repeat #fff;
}

/* import scss layout */
/* line 1, ../sass/_header01.scss */
#se-header {
  overflow: hidden;
  width: 100%;
  min-height: 65px;
}
/* line 5, ../sass/_header01.scss */
#se-header__topbar {
  position: relative;
  z-index: 2;
  height: 50px;
  background: #333333;
  -webkit-box-shadow: #111 0px 0px 15px;
  -moz-box-shadow: #111 0px 0px 15px;
  box-shadow: #111 0px 0px 15px;
  -pie-box-shadow: #111 0px 0px 15px;
  behavior: url(pie/PIE.htc);
}
/* line 12, ../sass/_header01.scss */
#se-header__mainmenu {
  position: relative;
  z-index: 1;
  width: 100%;
  background: #004E6C;
  -webkit-box-shadow: #111 0px 2px 8px;
  -moz-box-shadow: #111 0px 2px 8px;
  box-shadow: #111 0px 2px 8px;
  -pie-box-shadow: #111 0px 2px 8px;
  behavior: url(pie/PIE.htc);
}
/* line 20, ../sass/_header01.scss */
#se-header__submenu {
  position: relative;
  z-index: 1;
  height: 65px;
  background: #00719b;
}

/* topbar */
/* line 28, ../sass/_header01.scss */
#main-logo {
  overflow: hidden;
  position: absolute;
  margin-left: 10px;
  height: 50px;
}
/* line 33, ../sass/_header01.scss */
#main-logo > a {
  float: left;
}
/* line 36, ../sass/_header01.scss */
#main-logo > .main-logo__text {
  display: block;
  float: left;
  margin: 11px 0 0 3px;
  font-size: 28px;
  color: #fff;
}

/* line 44, ../sass/_header01.scss */
#topbar-panel {
  overflow: hidden;
  position: absolute;
  right: 0;
  height: 50px;
}
/* line 49, ../sass/_header01.scss */
#topbar-panel > .topbar-panel__box {
  float: left;
  margin: 0 17px 0 20px;
  width: auto;
}
/* line 54, ../sass/_header01.scss */
#topbar-panel #site-preview {
  position: relative;
  height: 43px;
}
/* line 57, ../sass/_header01.scss */
#topbar-panel #site-preview > .site-preview-text {
  position: relative;
  z-index: 2;
  display: block;
  overflow: hidden;
  padding: 0 10px 0 33px;
  width: auto;
  height: 30px;
  background: url("../images/menu/icn-site-preview.png") 5px top no-repeat #fff;
}
/* line 66, ../sass/_header01.scss */
#topbar-panel #site-preview > .site-preview-text > a {
  display: block;
  margin-top: 5px;
  font-size: 18px;
  color: #333;
  text-decoration: none;
}
/* line 72, ../sass/_header01.scss */
#topbar-panel #site-preview > .site-preview-text > a:hover {
  text-decoration: underline;
}
/* line 77, ../sass/_header01.scss */
#topbar-panel #site-preview > i {
  position: absolute;
  z-index: 1;
  margin-left: 40%;
  font-size: 56px;
  color: #fff;
  bottom: -17px;
}
/* line 86, ../sass/_header01.scss */
#topbar-panel .simple-text {
  display: block;
  margin-top: 15px;
  font-size: 20px;
  color: #999;
  text-align: center;
}
/* line 93, ../sass/_header01.scss */
#topbar-panel #button-group {
  margin-top: 11px;
}

/* end topbat */
/* mainmenu */
/* line 101, ../sass/_header01.scss */
.no-bg-slider .shadow-wrapper {
  position: relative;
  padding-bottom: 0;
}

/* line 106, ../sass/_header01.scss */
.shadow-wrapper {
  position: absolute;
  overflow: hidden;
  padding-bottom: 10px;
  width: 100%;
}

/* line 112, ../sass/_header01.scss */
.mainmenu-row {
  position: relative;
  overflow: hidden;
  margin: 10px 0 0 0;
  width: 100%;
}
/* line 117, ../sass/_header01.scss */
.mainmenu-row:first-child {
  margin-top: 0;
}

/* line 121, ../sass/_header01.scss */
.mainmenu-list {
  overflow: hidden;
  float: left;
  margin: 0;
  padding: 0;
  width: auto;
  height: 75px;
  border-right: 1px solid #50788e;
}
/* line 130, ../sass/_header01.scss */
.mainmenu-list > li {
  display: block;
  overflow: hidden;
  position: relative;
  float: left;
  width: auto;
  min-width: 60px;
  height: 75px;
  border-right: 1px solid #002837;
  border-left: 1px solid #50788e;
  transition: background 0.3s linear;
  text-align: center;
}
/* line 143, ../sass/_header01.scss */
.mainmenu-list > li:first-child {
  border-left: none;
}
/* line 146, ../sass/_header01.scss */
.mainmenu-list > li:hover {
  background: #00719b;
  transition: background 0.1s linear;
}
/* line 150, ../sass/_header01.scss */
.mainmenu-list > li.active {
  background: #00719b;
}
/* line 153, ../sass/_header01.scss */
.mainmenu-list > li > a {
  display: block;
  overflow: hidden;
  position: relative;
  z-index: 2;
  padding: 48px 10px 0 10px;
  min-width: 40px;
  height: 27px;
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  text-align: center;
  text-justify: auto;
}
/* line 167, ../sass/_header01.scss */
.mainmenu-list > li > .icn-mainmenu {
  display: inline-block;
  position: relative;
  z-index: 1;
  top: -60px;
  margin: auto;
  width: 50px;
  height: 30px;
}
/* line 175, ../sass/_header01.scss */
.mainmenu-list > li > .icn-mainmenu.menu-01 {
  background: url("../images/menu/icn-main-menu.png") 12px top no-repeat;
}
/* line 178, ../sass/_header01.scss */
.mainmenu-list > li > .icn-mainmenu.menu-02 {
  background: url("../images/menu/icn-main-menu.png") -38px top no-repeat;
}
/* line 181, ../sass/_header01.scss */
.mainmenu-list > li > .icn-mainmenu.menu-03 {
  background: url("../images/menu/icn-main-menu.png") -88px top no-repeat;
}
/* line 184, ../sass/_header01.scss */
.mainmenu-list > li > .icn-mainmenu.menu-04 {
  background: url("../images/menu/icn-main-menu.png") -138px top no-repeat;
}
/* line 187, ../sass/_header01.scss */
.mainmenu-list > li > .icn-mainmenu.menu-05 {
  background: url("../images/menu/icn-main-menu.png") 12px -50px no-repeat;
}
/* line 190, ../sass/_header01.scss */
.mainmenu-list > li > .icn-mainmenu.menu-06 {
  background: url("../images/menu/icn-main-menu.png") -38px -50px no-repeat;
}
/* line 193, ../sass/_header01.scss */
.mainmenu-list > li > .icn-mainmenu.menu-07 {
  background: url("../images/menu/icn-main-menu.png") -88px -50px no-repeat;
}
/* line 196, ../sass/_header01.scss */
.mainmenu-list > li > .icn-mainmenu.menu-08 {
  background: url("../images/menu/icn-main-menu.png") -138px -50px no-repeat;
}
/* line 199, ../sass/_header01.scss */
.mainmenu-list > li > .icn-mainmenu.menu-09 {
  background: url("../images/menu/icn-main-menu.png") 12px -100px no-repeat;
}
/* line 202, ../sass/_header01.scss */
.mainmenu-list > li > .icn-mainmenu.menu-10 {
  background: url("../images/menu/icn-main-menu.png") -38px -100px no-repeat;
}
/* line 205, ../sass/_header01.scss */
.mainmenu-list > li > .icn-mainmenu.menu-11 {
  background: url("../images/menu/icn-main-menu.png") -88px -100px no-repeat;
}
/* line 208, ../sass/_header01.scss */
.mainmenu-list > li > .icn-mainmenu.menu-12 {
  background: url("../images/menu/icn-main-menu.png") -138px -100px no-repeat;
}
/* line 211, ../sass/_header01.scss */
.mainmenu-list > li > .icn-mainmenu.menu-13 {
  background: url("../images/menu/icn-main-menu.png") 12px -150px no-repeat;
}
/* line 214, ../sass/_header01.scss */
.mainmenu-list > li > .icn-mainmenu.menu-14 {
  background: url("../images/menu/icn-main-menu.png") -38px -150px no-repeat;
}

/* line 220, ../sass/_header01.scss */
.submenu-row {
  position: relative;
  display: none;
  clear: left;
  overflow: hidden;
  z-index: 20;
  width: 100%;
  height: 65px;
  background: #00719b;
}
/* line 232, ../sass/_header01.scss */
.submenu-row__close {
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  background: #fff;
  font-size: 21px;
  font-weight: bold;
  color: #333;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  line-height: 26px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  -pie-border-radius: 15px;
  behavior: url(pie/PIE.htc);
}
/* line 250, ../sass/_header01.scss */
.submenu-row.open {
  display: block;
}

/* line 254, ../sass/_header01.scss */
.submenu-list {
  display: none;
  float: left;
  margin: 0;
  padding: 0;
  width: auto;
  border-right: 1px solid #0099d2;
}
/* line 264, ../sass/_header01.scss */
.submenu-list.active {
  display: block;
}
/* line 268, ../sass/_header01.scss */
.submenu-list > li {
  display: block;
  float: left;
  width: auto;
  min-width: 80px;
  height: 100%;
  border-right: 1px solid #004e6c;
  border-left: 1px solid #0099d2;
  text-align: right;
  transition: background 0.3s linear;
}
/* line 280, ../sass/_header01.scss */
.submenu-list > li:first-child {
  border-left: none;
}
/* line 284, ../sass/_header01.scss */
.submenu-list > li:hover {
  background: #008fc6;
  transition: background 0.1s linear;
}
/* line 288, ../sass/_header01.scss */
.submenu-list > li.active {
  background: #008fc6;
}
/* line 291, ../sass/_header01.scss */
.submenu-list > li > a {
  display: block;
  padding: 5px 10px 0 10px;
  min-width: 60px;
  height: 65px;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  text-align: center;
}
/* line 303, ../sass/_header01.scss */
.submenu-list > li > i {
  position: relative;
  bottom: 25px;
  margin-right: 6px;
  color: #fff;
  font-size: 12px;
}

/* end mainmenu */
/* line 2, ../sass/_layout-index01.scss */
#se-main-container.index {
  overflow: hidden;
  margin: 0;
}

/* line 7, ../sass/_layout-index01.scss */
#login-page {
  overflow: hidden;
  padding: 280px 0 0 270px;
  width: 565px;
}

/* line 12, ../sass/_layout-index01.scss */
#login-form-box {
  margin-top: 20px;
}
/* line 14, ../sass/_layout-index01.scss */
#login-form-box table td {
  padding: 5px 0;
}
/* line 17, ../sass/_layout-index01.scss */
#login-form-box label {
  margin: 0 10px 0 0;
  font-size: 25px;
  color: #333;
}
/* line 22, ../sass/_layout-index01.scss */
#login-form-box .btn-forget-pass {
  font-size: 22px;
  color: #666;
  text-decoration: none;
}
/* line 26, ../sass/_layout-index01.scss */
#login-form-box .btn-forget-pass:hover {
  text-decoration: underline;
}
/* line 30, ../sass/_layout-index01.scss */
#login-form-box input[type=text], #login-form-box input[type=password] {
  width: 180px;
}
/* line 33, ../sass/_layout-index01.scss */
#login-form-box .icon-caret-right {
  color: #666;
}

/* line 2, ../sass/_layout-page01.scss */
#se-maincontainer-wrapper.page01 {
  /*min-height: 320px;*/
  background: #f5f5f5;
}

/* line 10, ../sass/_layout-page01.scss */
#page1col {
  padding: 20px 40px 0 40px;
}
/* line 13, ../sass/_layout-page01.scss */
#page1col .content-slide-box {
  width: 100%;
}
/* line 15, ../sass/_layout-page01.scss */
#page1col .content-slide-box .content-slide-detail {
  padding: 15px 17px 18px 17px !important;
}
/* line 18, ../sass/_layout-page01.scss */
#page1col .content-slide-box .content-slide-detail > .left {
  float: left;
  margin: 97px 22px 0 0;
  width: 135px;
}
/* line 23, ../sass/_layout-page01.scss */
#page1col .content-slide-box .content-slide-detail > .right {
  float: left;
  width: 100%;
}
/* line 26, ../sass/_layout-page01.scss */
#page1col .content-slide-box .content-slide-detail > .right > .header {
  margin-top: 20px;
  padding-bottom: 5px;
  min-height: 30px;
  border-bottom: 1px solid #ccc;
}
/* line 31, ../sass/_layout-page01.scss */
#page1col .content-slide-box .content-slide-detail > .right > .header:first-child {
  margin-top: 0;
}
/* line 34, ../sass/_layout-page01.scss */
#page1col .content-slide-box .content-slide-detail > .right > .header > .left {
  float: left;
  width: auto;
}
/* line 37, ../sass/_layout-page01.scss */
#page1col .content-slide-box .content-slide-detail > .right > .header > .left table td {
  padding: 0 10px 0 0;
}
/* line 41, ../sass/_layout-page01.scss */
#page1col .content-slide-box .content-slide-detail > .right > .header > .right {
  float: right;
  width: auto;
}
/* line 44, ../sass/_layout-page01.scss */
#page1col .content-slide-box .content-slide-detail > .right > .header > .right table td {
  padding: 0 0 0 10px;
}
/* line 49, ../sass/_layout-page01.scss */
#page1col .content-slide-box .content-slide-detail > .right .header-text {
  font-size: 24px;
  color: #000000;
}
/* line 53, ../sass/_layout-page01.scss */
#page1col .content-slide-box .content-slide-detail > .right .desc-box {
  margin-top: 5px;
  padding: 5px;
  font-size: 14px;
  color: #666;
  background: #efefef;
  border: 1px solid #eaeaea;
}

/* line 66, ../sass/_layout-page01.scss */
#sidemenu-box > .btn-2stage {
  margin: 4px 0 0 0;
  padding: 0;
  width: 100%;
  text-align: left;
  vertical-align: middle;
}
/* line 72, ../sass/_layout-page01.scss */
#sidemenu-box > .btn-2stage:first-child {
  margin-top: 0;
}
/* line 75, ../sass/_layout-page01.scss */
#sidemenu-box > .btn-2stage > a {
  display: block;
  padding: 3px 15px 3px 10px !important;
}

/* line 2, ../sass/_layout-page02.scss */
#se-maincontainer-wrapper.page02 {
  min-height: 320px;
  background: #f5f5f5;
}

/* line 10, ../sass/_layout-page02.scss */
#page2col {
  overflow: hidden;
  padding: 20px 40px 0 40px;
}
/* line 13, ../sass/_layout-page02.scss */
#page2col .content-slide-box {
  float: left;
  width: 620px;
}
/* line 16, ../sass/_layout-page02.scss */
#page2col .content-slide-box .content-slide-detail {
  padding: 115px 18px 18px 18px !important;
}
/* line 18, ../sass/_layout-page02.scss */
#page2col .content-slide-box .content-slide-detail .header-text {
  font-size: 26px;
}
/* line 23, ../sass/_layout-page02.scss */
#page2col .sidebox {
  float: left;
  margin: 25px 0 0 9px;
  padding: 5px 10px;
  width: 275px;
  min-height: 125px;
  background: #fff;
  border: 1px solid #ccc;
}
/* line 31, ../sass/_layout-page02.scss */
#page2col .sidebox .header-text {
  font-size: 26px;
}

/* line 38, ../sass/_layout-page02.scss */
#logo-select .mod_tab-content > .header {
  height: 35px;
  vertical-align: top;
  line-height: 20px;
}
/* line 43, ../sass/_layout-page02.scss */
#logo-select .mod_tab-content > .header .header-text {
  margin: 0 10px 0 0;
  height: 29px;
}
/* line 48, ../sass/_layout-page02.scss */
#logo-select .mod_tab-content > .content {
  padding: 8px 10px 20px 10px;
  min-height: 200px;
  border: 1px dotted #333333;
}

/* line 55, ../sass/_layout-page02.scss */
#logo-select-pc {
  text-align: center;
}
/* line 57, ../sass/_layout-page02.scss */
#logo-select-pc .text-box {
  display: block;
  font-size: 26px;
  color: #999;
}
/* line 62, ../sass/_layout-page02.scss */
#logo-select-pc .btn-line {
  margin: 45px 0 0 0;
}

/* line 66, ../sass/_layout-page02.scss */
#logo-current {
  margin-top: 10px;
  width: 100%;
}
/* line 69, ../sass/_layout-page02.scss */
#logo-current > img {
  max-width: 100%;
  width: auto;
}

/* line 1, ../sass/_footer01.scss */
#se-footer {
  overflow: hidden;
  padding: 12px 0 10px 0;
}
/* line 4, ../sass/_footer01.scss */
#se-footer .se-footer__box {
  float: left;
  margin: 0 15px;
  width: auto;
}

/* line 10, ../sass/_footer01.scss */
#callcenter {
  position: relative;
  overflow: hidden;
  padding-left: 50px;
  height: 50px;
  background: url("../images/icn-callcenter.png") left top no-repeat;
}
/* line 16, ../sass/_footer01.scss */
#callcenter > span {
  display: block;
}
/* line 18, ../sass/_footer01.scss */
#callcenter > span.cc-text {
  margin-top: -5px;
  font-size: 26px;
  color: #004E6C;
}
/* line 23, ../sass/_footer01.scss */
#callcenter > span.cc-num {
  margin-top: -10px;
  font-size: 32px;
  color: #999999;
}

/* line 30, ../sass/_footer01.scss */
#site-storage {
  overflow: hidden;
}
/* line 32, ../sass/_footer01.scss */
#site-storage > span {
  display: block;
  float: left;
  margin: 0 10px;
  font-size: 26px;
  color: #004E6C;
}
/* line 39, ../sass/_footer01.scss */
#site-storage .storage-bar-container {
  float: left;
  margin: 5px 0 0 0;
  width: 250px;
  border: 1px solid #014f6d;
  height: 15px;
}
/* line 45, ../sass/_footer01.scss */
#site-storage .storage-bar-container > .storage-bar {
  display: block;
  height: 100%;
  background: #014f6d;
}

/* line 52, ../sass/_footer01.scss */
#last-login {
  overflow: hidden;
}
/* line 54, ../sass/_footer01.scss */
#last-login > span {
  display: block;
  float: left;
  margin-right: 10px;
  font-size: 24px;
  color: #666;
}
/* line 60, ../sass/_footer01.scss */
#last-login > span:first-child {
  font-size: 26px;
  color: #004E6C;
}

/* line 66, ../sass/_footer01.scss */
#switch-language {
  display: inline-block;
  *display: inline;
  zoom: 1;
  overflow: hidden;
  margin: 0 0 0 0;
  padding: 0;
  list-style: none;
}
/* line 74, ../sass/_footer01.scss */
#switch-language > li {
  display: block;
  float: left;
  margin: 0 5px;
  padding: 0 0 0 0;
  width: auto;
  font-size: 26px;
  color: #004e6c;
}
/* line 83, ../sass/_footer01.scss */
#switch-language > li > a {
  display: block;
  margin: 0 0 0 0;
  padding: 0 0 0 20px;
  width: 15px;
  height: 12px;
  font-size: 16px;
  color: #666;
  text-decoration: none;
}
/* line 92, ../sass/_footer01.scss */
#switch-language > li > a:hover {
  text-decoration: underline;
}
/* line 96, ../sass/_footer01.scss */
#switch-language > li.flag-th {
  padding-top: 8px;
}
/* line 98, ../sass/_footer01.scss */
#switch-language > li.flag-th > a {
  background: url("../images/icn-flag2.png") left -60px no-repeat;
}
/* line 103, ../sass/_footer01.scss */
#switch-language > li.flag-th.active > a {
  background: url("../images/icn-flag2.png") left top no-repeat;
}
/* line 109, ../sass/_footer01.scss */
#switch-language > li.flag-th:hover > a {
  background: url("../images/icn-flag2.png") left top no-repeat;
}
/* line 115, ../sass/_footer01.scss */
#switch-language > li.flag-en {
  padding-top: 8px;
}
/* line 117, ../sass/_footer01.scss */
#switch-language > li.flag-en > a {
  background: url("../images/icn-flag2.png") left -90px no-repeat;
}
/* line 122, ../sass/_footer01.scss */
#switch-language > li.flag-en.active > a {
  background: url("../images/icn-flag2.png") left -30px no-repeat;
}
/* line 128, ../sass/_footer01.scss */
#switch-language > li.flag-en:hover > a {
  background: url("../images/icn-flag2.png") left -30px no-repeat;
}

/* Import responsive control stylesheet */
/* **DO NOT** import another scss component below!! */
