.btn-submit{
    border: none;
    //border: 1px solid #1e6eaf;
    background-color: #3090C1;
    //background-color: #fff;
    color: #fff;
    //color: #1e6eaf;
    width: 200px;
    display: block;
    padding: 5px 0;
    margin: auto;
    outline: none;
    transition: all 0.5s ease;
    &:hover{
        background-color: #1e6eaf;
        color: #fff;
    }
    &:focus{
        outline: none;
        border: none;
    }
}
.btn-manage{
    .btn{
        width: 100%;
        border: none;
        outline: 0;
        box-shadow: none;
        border-radius: 0;
        color: #fff;
        margin-bottom: 10px;
        &:active, &:focus{
            outline: 0;
        }
    }
    .btn-gray{
        background-color: #999;
        &:hover{
            background-color: #666;
        }
    }
    .btn-blue{
        background-color: #3090C1;
        &:hover{
            background-color: #1e6eaf;
        }
    }
}

.btn-custom{
    width: 200px;
    margin-top: 20px;
    &.mg-left-auto{
        margin-left: auto;
    }
    .input-custom{
        input[type="submit"]{
            padding: 5px 0;
            color: #fff;
            border: none;
            background: inherit;
            width: 100%;
            &:focus{
                outline: none;
                border: none;
            }
        }
    }
}

