// panel
.style-absolute{
    .text{
        position: absolute;
        @media only screen and (max-width: 767px) {
            position: relative;
        }
    }
}
.text{
    position: relative;
    width: 100%;
    bottom: 0;
    background-color: #F7F7F7;
    padding: 5px 15px;
    font-size: 14px;
    z-index: 9;
}



//front
#footer-wrapper{
    padding-top: 100px;
    position: relative;

    .group-footer{
        padding: 20px 0;
        .title-footer{
            .title{
                font-size: 36px;
                font-weight: $font-medium;
                margin-bottom: 0;
                color: #fff;
            }
            .desc{
                font-size: 16px;
                font-weight: $font-regular;
                color: #fff;
            }
        }
        .group-content-footer{
            display: flex;
            justify-content: flex-start;
            .icon-content{
                margin-right: 10px;
            }
            .text-content{
                font-size: 20px;
                font-weight: $font-regular;
                line-height: 25px;
                color: #fff;
                a.link-tel{
                    display: block;
                    font-size: 32px;
                    font-weight: $font-medium;
                    color: #fff;
                    margin-top: 10px;
                    transition: all 0.3s ease;
                    &:hover{
                        text-decoration: none;
                        color: $color-green-primary;
                    }
                }
            }
        }
        .social-wrapper{
            margin-top: 30px;
        }
        .footer-bottom{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .sitemap{
                ul{
                    margin: 0;
                    padding: 0;
                    li{
                        list-style: none;
                        display: inline-block;
                        vertical-align: middle;
                        padding-right: 15px;
                        &:last-child{
                            padding-right: 0;
                        }
                        a{
                            font-size: 16px;
                            font-weight: $font-regular;
                            color: #fff;
                            opacity: 0.7;
                            transition: all 0.3s ease;
                            &:hover{
                                opacity: 1;
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
            .copyright{
                font-size: 16px;
                font-weight: $font-regular;
                color: #fff;
                //margin-top: 20px;
            }
        }
    }
}

.gototop{
    width: 40px;
    height: 40px;
    cursor: pointer;
    position: fixed;
    right: 40px;
    bottom: 30px;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    text-align: center;
    z-index: 999;
    transition: all 0.5s ease;
    &.show {
        visibility: visible;
        cursor: pointer;
        opacity: 1.0;
    }
}






