#se-maincontainer{

	#page-content{
		margin-top: 240px;
		padding: 0px 10px 10px 10px;
		background: #fff;
		box-sizing: border-box;
		border: 1px solid #e8e8e8;
	}
	.page-custom-box{

	}
	.page-box-heading{
		margin: 0 0 10px 0;
		padding: 0;
		font-size: 26px;
		font-weight: normal;
		.heading1{
			color: #26883c;
		}
		.heading2{
			color: #26883c;
		}
	}

}



