// CMS
.panel-header{
    header{
        margin-bottom: 80px;
    }
    .header-top{
        width: 100%;
        .head-top-wrapper{
            position: relative;
            padding: 5px 10px;
            background-color: #333;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .left{
                ul{
                    margin: 0;
                    padding: 0;
                    li{
                        list-style: none;
                        display: inline-block;
                        vertical-align: middle;
                        padding: 0 10px;
                        color: #fff;
                        font-size: 1.4rem;
                        font-weight: 300;
                        a{
                            color: #fff;
                            font-size: 1.4rem;
                            font-weight: 300;
                            &:hover{
                                text-decoration: none;
                            }
                        }
                        &.sign-out{
                            a{
                                transition: none;
                                i{
                                    font-size: 1.2rem;
                                    margin-right: 3px;
                                    transition: none;
                                }
                                &:hover{
                                    color: #999;
                                }
                            }
                        }
                    }
                }
            }
            .right{
                ul{
                    margin: 0;
                    padding: 0;
                    li{
                        list-style: none;
                        display: inline-block;
                        vertical-align: middle;
                        padding: 0 10px;
                        a{
                            color: #fff;
                            text-transform: uppercase;
                            font-size: 1.4rem;
                            font-weight: 300;
                            transition: none;
                            i{
                                font-size: 1.2rem;
                                margin-right: 3px;
                                transition: none;
                            }
                            &:hover{
                                text-decoration: none;
                                color: #999;
                            }
                        }
                    }
                }
            }
    
            @media only screen and (max-width: 767px) {
                flex-wrap: wrap;
            }
        }
    }
    .header-main{
        margin-top: 20px;
        .step-template{
            margin-top: 30px;
            ul{
                margin: 0;
                padding: 0;
                li{
                    list-style: none;
                    float: left;
                    width: 33.333%;
                    .step{
                        .line{
                            width: 100%;
                            height: 8px;
                            background-color: #fff;
                            position: relative;
                            .circle{
                                display: none;
                                position: absolute;
                                width: 50px;
                                height: 50px;
                                border-radius: 100%;
                                color: #fff;
                                margin: auto;
                                top: -20px;
                                left: 0;
                                right: 0;
                                text-align: center;
                                padding-top: 10px;
                                &.active{
                                    display: block;
                                    background-color: #1e6eaf;
                                }
                            }
                            &.active{
                                background-color: #1e6eaf;
                            }
                        }
                        .text-step{
                            color: #fff;
                            text-align: center;
                            margin-top: 35px;
                            span{
                                font-size: 1.4rem;
                                line-height: 1.4rem;
                                font-weight: 200;
                                display: block;
                            }
                            font-size: 18px;
                            font-weight: 300;
                        }
                    }
                }
            }
        }
        @media only screen and (max-width: 767px) {
            .logo{
                text-align: center;
                margin-bottom: 15px;
                img{
                    width: 35%;
                }
            }
        }
        @media only screen and (max-width: 480px) {
            .logo{
                img{
                    width: 45%;
                }
            }
        }
    }
}



// Front
#header-wrapper{
    // background-color: #fff;
    .header-lg{
        display: block;

        .menu-left-top{
            float: left;
            background-color: #f8f8f8;
        }

        .menu-right-top{
            float: left;
            background-color: #f8f8f8;
        }

        .menu-right-middle{
            display: flex;
            align-items: stretch;
            justify-content: flex-end;
        }
        .logo-wrapper{
            height: 110px;
            .logo{
                //max-width: 300px;
                margin: auto;
                height: 100%;
                display: flex;
                align-items: center;
                padding: 15px;
                background-color: white;
                img{
                    width: 100%;
                }
            }
        }
        
        .tools-web{
            display: flex;
            background-color: #f8f8f8;
            .social-wrapper{
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0 25px;

                div{
                    width: 35px;
                    height: 35px;
                    margin: 0 10px;

                    a{
                        display: block;
                        width: 35px;
                        height: 35px;
                        transition: all 0.3s ease;

                        img{
                            width: 25px;
                            height: 25px;
                            margin: 5px;
                        }

                        &:hover{
                            background-color: $color-primary;
                            text-decoration: none;
                            border-radius: 50% 10%;
                        }
                    }
                }
            }

            .sizefonts-wrapper{
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 5px 25px;
                .reduce{
                    background-image: url('../../assets/images/icons/icon-reduce-sizefont.png');
                    width: 22px;
                    height: 13px;
                    background-repeat: no-repeat;
                    background-position: top center;
                    cursor: pointer;
                    transition: all 0.3s;
                    &:hover{
                        background-position: bottom center;
                    }
                    &.active{
                        background-position: bottom center;
                    }
                }
                .normal{
                    padding-left: 23px;
                    padding-right: 23px;
                    background-image: url('../../assets/images/icons/icon-normal-sizefont.png');
                    width: 22px;
                    height: 13px;
                    background-repeat: no-repeat;
                    background-position: top center;
                    cursor: pointer;
                    transition: all 0.3s;
                    &:hover{
                        background-position: bottom center;
                    }
                    &.active{
                        background-position: bottom center;
                    }
                }
                .increase{
                    background-image: url('../../assets/images/icons/icon-increase-sizefont.png');
                    width: 22px;
                    height: 13px;
                    background-repeat: no-repeat;
                    background-position: top center;
                    cursor: pointer;
                    transition: all 0.3s;
                    &:hover{
                        background-position: bottom center;
                    }
                    &.active{
                        background-position: bottom center;
                    }
                }
            }
            
            .lang-site{
                position: relative;
                display: flex;
                align-items: center;
                padding: 5px 23px;
                cursor: pointer;
                span{
                    color: $color-text;
                    font-size: 1.6rem;
                    font-weight: $font-light;
                }
                i{
                    color: $color-text;
                    font-size: 1.4rem;
                    position: relative;
                    right: -5px;
                    top: -2px;
                    transform: rotate(180deg);
                    -webkit-transform: rotate(180deg);
                    transition: all 0.3s ease;
                }
                .multi-lang{
                    display: none;
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    position: absolute;
                    left: 0;
                    top: 100%;
                    width: 100%;
                    z-index: 9;
                    background-color: $color-secondary;
                    li{
                        // border: none;
                        // width: 100%;
                        // display: flex;
                        // align-items: center;
                        display: block;
                        width: 100%;
                        height: auto;
                        padding: 0;
                        margin: 0 auto;
                        a{
                            display: block;
                            padding: 10px;
                            font-weight: $font-light;
                            font-size: 1.6rem;
                            line-height: 2rem;
                            color: white;
                            text-align: center;
                            &:hover{
                                text-decoration: none;
                            }
                        }
                    }
                }
                &.active{
                    i{
                        transform: rotate(0deg);
                        -webkit-transform: rotate(0deg);
                    }
                }
            }

            .bar-menu{
                background-color: $color-secondary;
                height: 70px;
                padding: 20px 25px;
                cursor: pointer;
                .icon-menu{
                    font-size: 2.2rem;
                    line-height: 3rem;
                    color: white;
                    i{
                        font-size: 2.2rem;
                        line-height: 3rem;
                    }
                }
                &:hover{
                    background-color: $color-primary;
                }
            }
        }

        .account-wrapper{
            display: flex;
            align-items: center;
            margin-right: 15px;
            
            ul{
                list-style: none;
                padding: 0;
                margin: 0;
                
                li{
                    
                    display: inline-block;
                    vertical-align: middle;
                    padding: 0;
                    margin: 0 5px 0 0;
                    min-height: 34px;

                    a{
                        display: flex;
                        align-items: center;
                        color: $color-text;
                        font-size: 1.6rem;
                        line-height: 2rem;
                        font-weight: $font-light;
                        transition: all 0.3s ease;
                        
                        &:hover{
                            text-decoration: none;
                            opacity: 1;
                            .icon-register{
                                background-position: bottom center;
                            }
                            .icon-signin{
                                background-position: bottom center;
                            }
                        }
                    }

                    .link-wrap{
                        margin: 0 10px 0 0;
                    }

                    .skew-wrap{
                        display: flex;
                        align-items: center;
                        text-align: center;
                        width: 55px;
                        height: 45px;
                        background-color: #cfd1d4;
                        transform: skew(-14deg);

                        .icon-register{
                            // display: inline-block;
                            background-image: url('../../assets/images/icons/icon-register.png');
                            width: 100%;
                            height: 16px;
                            background-repeat: no-repeat;
                            background-position: top center;
                            transition: all 0.3s ease;
                            transform: skew(14deg);
                        }
                        .icon-signin{
                            // display: inline-block;
                            background-image: url('../../assets/images/icons/icon-signin.png');
                            width: 100%;
                            height: 16px;
                            background-repeat: no-repeat;
                            background-position: top center;
                            transition: all 0.3s ease;
                            transform: skew(14deg);
                        }
                    }

                    &:first-child{
                        border-right: 1px solid #fff;
                        padding-left: 0;
                    }
                }
            }
        }

        .search-site{
            display: flex;
            align-items: center;
            margin: 0 15px 0 0;

            .icon-wrap{
                display: flex;
                align-items: center;
                width: 55px;
                height: 45px;
                padding: 10px;
                background-color: #cfd1d4;
                transform: skew(-14deg);
                cursor: pointer;
            }
            .icon-search{
                background-image: url('../../assets/images/icons/icon-search.png');
                width: 100%;
                height: 15px;
                background-repeat: no-repeat;
                background-position: top center;
                transition: all 0.3s ease;
                transform: skew(14deg);
            }
            &:hover{
                .icon-search{
                    background-position: bottom center;
                }
            }
            &.active{
                .icon-search{
                    background-position: bottom center;
                }
            }
        }

        //menu-top
        .bg-color-menutop{
            background-color: #f8f8f8;
        }
        .menu-top-wrapper{
            position: relative;
            ul{
                list-style: none;
                margin: 0;
                padding: 0;
                li{
                    width: auto;
                    padding: 0;
                    margin: 0;
                    display: inline-block;
                    vertical-align: middle;
                    a{
                        display: block;
                        padding: 25px 15px;
                        color: #525252;
                        opacity: 0.7;
                        transition: all 0.3s ease;
                        font-size:1.6rem;
                        font-weight: $font-regular;
                        line-height: 2rem;

                        &:hover{
                            text-decoration: none;
                            opacity: 1;
                        }
                    }
                }
                
            }
        }
        //menu-main
        .menu-main-wrapper{
            position: relative;
            .sub-menu-main{
                margin: 0;
                padding: 0;
                li{
                    list-style: none;
                    float: left;
                    // display: inline-block;
                    // vertical-align: middle;
                    a{
                        display: block;
                        color: #fff;
                        font-size: 2.0rem;
                        font-weight: $font-regular;
                        padding: 10px 15px;
                        &:hover{
                            text-decoration: none;
                        }
                    }
                    &.open{
                        &.show{
                            position: static;
                            background-image: url('../../assets/images/icons/icon-openmenu.png');
                            background-repeat: no-repeat;
                            background-position: 50% 103%;
                            .sub-menu-lv2{
                                transition: all 0.5s ;
                                display: block;
                            }
                        }
                    }
                    .sub-menu-lv2{
                        transition: all 0.5s;
                        //display: block;
                        display: none;
                        position: absolute;
                        top: auto;
                        left: 0;
                        float: left;
                        width: 100%;
                        min-width: 100px;
                        margin: 0;
                        list-style: none;
                        font-size: 1.5rem;
                        text-align: left;
                        background-clip: padding-box;
                        z-index: 1000;
                        padding: 15px;
                        background-color: #f8f8f8;
                        .list-menu-lv2{
                            a{
                                font-size: 2.0rem;
                                font-weight: $font-regular;
                                line-height: 2.5rem;
                                color: #525252;
                                padding: 15px;
                                &:hover{
                                    text-decoration: none;
                                    background-color: #f8f8f8;
                                }
                            }
                            &.open{
                                &.show{
                                    a{
                                        position: static;
                                        background-image: url('../../assets/images/icons/icon-openmenu-gray.png');
                                        background-repeat: no-repeat;
                                        background-position: 50% 103%;
                                    }
                                }
                            }
                            .sub-menu-lv3{
                                //display: block;
                                display: none;
                                background-color: #e5e5e5;
                                padding: 8px 0;
                                .list-menu-lv3{
                                    a{
                                        font-size:1.6rem;
                                        font-weight: $font-regular;
                                        line-height: 1.8rem;
                                        color: #525252;
                                        padding: 8px 10px;
                                        &:hover{
                                            background-color: inherit;
                                        }
                                    }
                                }
                            }
                            &:hover{
                                .sub-menu-lv3{
                                    display: block;
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }

        .section-search-wrapper{
            position: absolute;
            width: 100%;
            background-color: #cfd1d4;
            height: 280px;
            z-index: 100;
            margin: 0 -15px;
            display: none;
            .group-search{
                max-width: 768px;
                padding: 0 20px;
                height: 123px;
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                margin: auto;
                .close-search{
                    width: 40px;
                    height: 60px;
                    background-color: #525252;
                    margin-left: auto;
                    margin-bottom: 3px;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .icon-close{
                        background-image: url('../../../assets/images/icons/icon-close.png');
                        width: 13px;
                        height: 13px;
                        background-repeat: no-repeat;
                        background-position: top center;
                        transition: all 0.3s ease;
                    }
                    &:hover{
                        .icon-close{
                            background-position: bottom center;
                        }
                    }
                }
                .input-custom{
                    display: flex;
                    .input-box{
                        flex: 1;
                        input{
                            margin-bottom: 0;
                            height: 60px;
                            &:focus ~ label{
                                top: -20px;
                                font-size:1.6rem;
                            }
                            &:valid ~ label{
                                top: -20px;
                                font-size:1.6rem;
                            }
                        }
                        label{
                            font-size: 2.0rem;
                            top: 9px;
                        }
                    }
                    
                    .btn-search{
                        width: 40px;
                        height: 60px;
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        .icon-search{
                            background-color: inherit;
                            background-image: url('../../assets/images/icons/icon-search.png');
                            width: 15px;
                            height: 15px;
                            background-repeat: no-repeat;
                            background-position: top center;
                            transition: all 0.3s ease;
                            border: none;
                            outline: none;
                            text-indent: -9999px;
                        }
                        &:hover{
                            .icon-search{
                                background-position: bottom center;
                            }
                        }
                    }
                }
            }
        }
    }

    .header-sm{
        display: none;
    }
}

//Manage
.manage{
    .main-wrapper{
        .panel-header{
            display: block;
            .header-top{
                position: fixed;
                top: 0;
                z-index: 999;
            }
        }
        #header-wrapper{
            padding-top: 36.2px;
        }
    }
}