/* default theme color */
// color Green
$color-green-primary: #006600;
$color-green-secondary: #53954e;

// color Blue
$color-blue-primary: #005dab;
$color-blue-secondary: #2798d5;


$font-light: 300;
$font-regular: 400;
$font-medium: 500;



/* text sizing */
//$text-v-large: 48px;
//$text-x-large: 38px; 

// $text-content: 24px;
// $text-large: 26px; 
// $text-small: 22px; 
// $text-x-small: 18px;
// $text-xs-small: 14px;



