// panel
.style-absolute{
    .text{
        position: absolute;
        @media only screen and (max-width: 767px) {
            position: relative;
        }
    }
}
.text{
    position: relative;
    width: 100%;
    bottom: 0;
    background-color: #F7F7F7;
    padding: 5px 15px;
    font-size: 1.4rem;
    z-index: 9;
}



//front
#footer-wrapper{
    //padding-top: 100px;
    position: relative;
    .bg-color-primary{
        position: relative;
        &:before{
            content: '';
            display: block;
            width: 50%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            background-color: $color-secondary;
        }
        @media only screen and (max-width: 992px){
            &:before{
                background-color: inherit;
            }
        }
    }
    .group-footer{
        padding: 20px 0;
        .title-footer{
            .title{
                font-size: 3.6rem;
                font-weight: $font-medium;
                margin-bottom: 0;
                color: #fff;
            }
            .desc{
                font-size: 1.6rem;
                font-weight: $font-regular;
                color: #fff;
            }
        }
        .group-content-footer{
            .icon-content{
                text-align: center;
                svg{
                    margin-bottom: 15px;
                    .st0{
                        fill:#FFFFFF;
                    }
                }
            }
            .text-content{
                font-size: 3.6rem;
                font-weight: $font-regular;
                line-height: 4.4rem;
                color: #fff;
                img{
                    margin-right: 15px;
                }
                span{
                    font-weight: $font-regular;
                    font-size: 2rem;
                    line-height: 2.4rem;
                    margin-right: 10px;
                }
                a.link-tel{
                    display: block;
                    font-size: 3.2rem;
                    font-weight: $font-medium;
                    color: #fff;
                    //margin-top: 10px;
                    transition: all 0.3s ease;
                    &:hover{
                        text-decoration: none;
                        //color: $color-primary;
                    }
                }
            }
        }
        .menu-bottom-wrapper{
            margin-top: 30px;
            .online-top{
                background-color: #fff;
                border-radius: 25px;
                padding: 5px 15px;
                font-size: 2rem;
                color: #525252;
                span{
                    font-size: 2.6rem;
                    color: $color-secondary;
                    margin-left: 15px;
                    font-weight: $font-medium;
                }
            }
        }
        .footer-bottom{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .sitemap{
                ul{
                    margin: 0;
                    padding: 0;
                    li{
                        list-style: none;
                        display: inline-block;
                        vertical-align: middle;
                        padding-right: 15px;
                        &:last-child{
                            padding-right: 0;
                        }
                        a{
                            font-size: 1.6rem;
                            font-weight: $font-regular;
                            color: $color-primary;
                            //opacity: 0.7;
                            transition: all 0.3s ease;
                            &:hover{
                                opacity: 1;
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
            .copyright{
                font-size: 1.6rem;
                font-weight: $font-regular;
                color: $color-primary;
                //margin-top: 20px;
            }
        }
    }
}

.gototop{
    width: 40px;
    height: 40px;
    cursor: pointer;
    position: fixed;
    right: 40px;
    bottom: 30px;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    text-align: center;
    z-index: 999;
    transition: all 0.5s ease;
    &.show {
        visibility: visible;
        cursor: pointer;
        opacity: 1.0;
    }
}






