#se-footer {
	// overflow: hidden;
	position: relative;
	// z-index: 5;
	margin: auto;
	padding: 12px $page-sidepadding 10px $page-sidepadding;
	width: $page-min-width - $page-sidepadding;
	// background:#456;

	>.footer-row{
		overflow: hidden;
		margin-bottom: 10px;
		// height: 20px;
		// background:#5FB629;
		// text-align: center;
		// font-size:0;
		>.footer-box{
			// float: left;
			width: auto;
		}
	}
	.footer-panel-box{
		width: auto;
		&.left{
			float: left;
		}
		&.right{
			float: right;
		}
		&.center{
			margin: auto !important;
			width: 100%;
			text-align: center;
		}
	}

	#top-social{
		display: inline-block;
		*display: inline;
		zoom: 1;
		overflow: hidden;
		margin: 10px 0 0 0;
		padding: 0;
		list-style: none;
		>li{
			display: block;
			float: left;
			margin: 0 5px;
			padding: 1px 0 0 0;
			width: auto;
			height: 19px;
			font-size:11px;
			color: $color-text;
			>span{
				display: block;
				padding: 3px 0 0 0;
			}
			>a{
				display: block;
				margin: 0 0 0 0;
				width: 19px;
				height: 19px;
				// font-size:13px;
				color: $color-text;
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
				>span{
					display: none;
				}
			}
			&.icn-fb{
				>a{
					background:url('../images/icn-social.jpg') left top no-repeat;
				}
			}
			&.icn-tw{
				>a{
					background:url('../images/icn-social.jpg') left -30px no-repeat;
				}
			}
			&.icn-yt{
				>a{
					background:url('../images/icn-social.jpg') left -60px no-repeat;
				}
			}
		}
	}

	#top-social.type2{
		display: inline-block;
		*display: inline;
		zoom: 1;
		overflow: hidden;
		margin: 0;
		padding: 0;
		list-style: none;
		>li{
			display: block;
			float: none;
			margin: 5px 0;
			padding: 1px 0 0 0;
			width: auto;
			height: 19px;
			font-size:11px;
			color: $color-text;
			>span{
				display: block;
				padding: 3px 0 0 0;
			}
			>a{
				display: block;
				margin: 0 0 0 0;
				padding: 2px 26px 0 0;
				width: auto;
				height: 17px;
				// font-size:13px;
				color: $color-text;
				text-decoration: none;
				text-align: right;
				&:hover{
					text-decoration: underline;
				}
				>span{
					display: block;
				}
			}
			&:first-child{
				display: none;
			}
			&.icn-fb{
				>a{
					background:url('../images/icn-social.jpg') right top no-repeat;
				}
			}
			&.icn-tw{
				>a{
					background:url('../images/icn-social.jpg') right -30px no-repeat;
				}
			}
			&.icn-yt{
				>a{
					background:url('../images/icn-social.jpg') right -60px no-repeat;
				}
			}
		}
	}

}

#footer-menu{
	display: inline-block;
	*display: inline;
	zoom: 1;
	overflow: hidden;
	margin: 10px 0 0 0;
	padding: 0;
	list-style: none;
	>li{
		display: block;
		float: left;
		margin: 0 5px;
		padding: 0;
		width: auto;
		height: 20px;
		// font-size:13px;
		border-left: 1px solid #ccc;

		&:first-child{
			border-left: none;
		}
		a{
			display: block;
			margin: -1px 0 0 10px;
			//width: 15px;
			//height: 15px;
			font-size: 22px;
			color: $color-text;
			text-decoration: none;
			&:hover{
				text-decoration: underline;
			}
		}
	}
}

#callcenter{
	position: relative;
	overflow: hidden;
	padding-left: 50px;
	// height: 50px;
	background:url('../images/icn-callcenter.png') left 2px no-repeat;
	>span{
		display: block;
		font-family: arial;
		&.cc-text{
			margin-top: -3px;
			font-weight: bold;
			font-size: 19px;
			color: $color-primary;
		}
		&.cc-num{
			margin-top: -5px;
			font-size: 26px;
			color: #999999;
		}
	}
}
#enewsletter{
	position: relative;
	display: inline-block;
	*display: inline;
	zoom: 1;
	overflow: hidden;
	margin: 10px 0 0 0;
	padding: 0;
	list-style: none;

	td{
		padding: 0 3px;
	}

	.search-text{
		display: block;
		position: relative;
		margin: 0 0 0 15px;
		font-size: 20px;
	}
	a{
		display: block;
		margin: 1px 0 0 0;
		//width: 15px;
		//height: 15px;
		font-size:20px;
		color: $color-text;
		text-decoration: none;
		&:hover{
			text-decoration: underline;
		}
	}
	i{
		position: absolute;
		top: 7px;
		font-size: 12px;
		color: #333;
	}
}
#footer-address{
	p{
		margin: 0;
		padding: 0;
		font-size: 12px;
	}
}

#site-stat{
	td{
		font-size: 13px;
		color: #48AC3D;
	}
	.site-stat-num{
		color: #333;
	}
}


