#custom-box-download{
	.group-search{
		span{
			font-size:18px;
			width:90%;
			clear:both;
		}
		a{
			img{
				vertical-align:middle;
			}
		}
		.border-select{
			border: solid 1px #ccc;
			border-radius: 15px;
			width: 20%;
			height: 23px;
			display:inline-block;

			select {
				border:none;
				width:90%;
				margin:3px 0 0 10px;
				font-size:0.8em;
			}
		}

	}
	.box-scroll{
		float:left;
		margin-top:10px;
		width: 100%;
		margin-bottom:20px;
	
		table tr td {padding: 5px;}

		.date-bold{font-weight:bold;}
		.odd{
			background: #e9e9e9;
		}
		.sortable{
			a {
				text-decoration: none;
				color: #6F5F5F;

				img{
					padding-right:5px;
					vertical-align:middle;
				}
			}
		}
	}
}



@media #{$mobile} {

	.group-search{
		span{
			font-size:18px;
		}
		.border-select{
			border: solid 1px #ccc;
			border-radius: 15px;
			width: 90% !important;
			height: 23px;

			select {
				border:none;
				width:90%;
				margin:3px 0 0 10px;
				font-size:0.8em;
			}
		}
	}
	
}

@media #{$tablet} {

	
}


