#custom-box-faq{
	.list-group {  margin-bottom: 20px;  width: 100%;}

	.list-group .list-group-category   
	{
		margin: 0 0 10px 0;  
		padding: 0;  
		line-height: 1;
		font-size: 1.8em;
		font-weight: normal;
		color: #333;
	}
	.list-group .list-group-category-desc {  color: #666;}
	.list-group .list-group-item {  padding: 1px 0 1px 0;}
	.list-group .list-group-item:first-child {  padding: 0 0 1px 0;}
	.list-group .list-group-item .list-group-head {
	  position: relative;
	  padding: 3px 0 5px 0;
	  min-height: 25px;
	  font-size: 1em;
	  font-weight: bold;
	  cursor: pointer;
	  border-bottom: 1px dotted #CCC;
	  line-height: 1.5;
	}

	.list-group .list-group-item .list-group-head span {
	  position: relative;
	  display: block;
	  padding-right: 25px;
	  background: url("../images/side-nav/icn-plus2.png") right 5px no-repeat;
	}

	.list-group .list-group-item .list-group-head span a {
	  top: -1px;
	  left: 0px;
	  color: #444;
	  text-decoration: none;
	  font-size:13px;
	}

	.list-group .list-group-item .active span {
	  background: url("../images/side-nav/icn-minus2.png") right 5px no-repeat;
	}

	.list-group .list-group-item .list-group-content {
	  display: none;
	}

	.list-group .list-group-item .list-group-content.opened {
	  display: block;
	}

	.list-group .list-group-item .list-group-content .iframe-home-box {
	  overflow: hidden;
	  padding: 5px 0 0 3px;

	  .inner_text_editor_box{
			font-size:13px;
			padding: 5px;
		}
	}

	.list-group .list-group-item .list-group-content .list-group-more {
	  display: block;
	  margin: 5px 0 0 3px;
	  font-size: 0.8em;
	}

	.list-group .list-group-item .list-group-content .list-group-more i {
	  color: #e00100;
	}

	.list-group .list-group-item .list-group-content .list-group-more a {
	  color: #333333;
	  text-decoration: none;
	  
	}
	.list-group .list-group-item .list-group-content .list-group-more a:hover {
	  text-decoration: underline;
	}
	#list-group01.list-group .list-group-item span{ background:url(../images/side-nav/icon-down.png) right no-repeat !important;}
	#list-group01.list-group .list-group-item .active span{ background:url(../images/side-nav/icon-down-g-blue.png) right no-repeat !important;}

}

@media #{$mobile} {
	
}
@media #{$tablet} {
	
}
