html,body{
	font-size: 100%;
	color: $color-text;
}
/* remove link outline */
a:hover, a:active, a:focus, input[type=radio] {
	outline: 0;
}

/* clear float */
.clearfix{
	clear: both;
}
.poll-under div table tbody tr td{
 border-radius: 5px;
}
.bg-color{ 
	background: #ff3d63 !important;
	border-radius:5px;
 	margin: 5px 5px 5px 0;
}
.button .fontfacetext{
	background-color:#ff3d63 !important;
	//background-color:linear-gradient(to bottom,#03689f, #013d5c) !important;
	//background-image: -webkit-linear-gradient(to bottom,#03689f, #013d5c) !important;
    //background-image: -moz-linear-gradient(to bottom,#03689f, #013d5c) !important;
    //background-image: -o-linear-gradient(to bottom,#03689f, #013d5c) !important; 
    //background-image: linear-gradient(to bottom,#03689f, #013d5c) !important;
	}
.button .group-content{
	background-image: none !important;
	}
.button div .text-color{
	background-image: none !important;
	}
/*.group-menu .button div{
	background: #48AC3D !important;
	}*/
#custom-box-webboard .bg-color{
	background-color:#ff3d63 !important;
	//background-color:linear-gradient(to bottom,#03689f, #013d5c) !important;
	//background-image: -webkit-linear-gradient(to bottom,#03689f, #013d5c) !important;
    //background-image: -moz-linear-gradient(to bottom,#03689f, #013d5c) !important;
    //background-image: -o-linear-gradient(to bottom,#03689f, #013d5c) !important; 
    //background-image: linear-gradient(to bottom,#03689f, #013d5c) !important;
	}
.text-color{ color:#ff5778 !important;}
/* main structure */
#se-wrapper{
	overflow: hidden;
	position: relative;
	margin: auto;
	max-width: $page-max-width;
	min-width: $page-min-width;
}
#page-container{
	width: 100%;
	// background: #fff;
}
#se-header-wrapper{
	width: 100%;
	min-height: $header-height;
	position: relative;
	// background: #fff;
}
#se-maincontainer-wrapper{
	//overflow: hidden;
	position: relative;
	min-height:$main-slide-imageHeight - $main-slide-marginTop - $header-height - $footer-marginTop;
}
#se-bg-cover{
	position:absolute;
	top:235px;
	width:100%;
	height:100%;
	//background:#fff;
}
#se-maincontainer{
	margin: 90px auto 0;
	padding: 15px $page-sidepadding 48px $page-sidepadding;
	width: $page-min-width - $page-sidepadding;
	// background:#789;
}
#se-footer-wrapper{
	width: 100%;
	min-height: $footer-height;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	//background-color:linear-gradient(to top,#f0f0f0, #cccccc);
	//background-image: -webkit-linear-gradient(to top,#f0f0f0, #cccccc);
    //background-image: -moz-linear-gradient(to top,#f0f0f0, #cccccc);
    //background-image: -o-linear-gradient(to top,#f0f0f0, #cccccc); 
    //background-image: linear-gradient(to top,#f0f0f0, #cccccc);
}
.centerwrapper{
	margin: auto;
	padding: 0 $page-sidepadding 0 $page-sidepadding;
	width: $page-min-width - $page-sidepadding;
}
/* end main structure */

/* welcome text */
#welcome-text{
	position: absolute;
	top: -30px;
	left: 145px;
	padding: 40px 0;
	//background: #48AC3D;
	//background: #48AC3D;
	//background: transparent\9;
	//background: rgba(72, 172, 61, 0.6);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99207433,endColorstr=#99207433);
	zoom: 1;
	>p{
		margin: 0;
		padding: 0;
		color: #333333;
		text-shadow: #333 2px 2px 3px;
		
		&.heading{
			font-size: 41px;
		}
		&.desc{
			font-size: 25px;
		}
	}
}

/* page navigation */
#page-navi{
	height: 25px;
	position:absolute;
	left:10.5%;
	ul{
		margin: 0;
		padding: 0 15px;
		>li{
			display: inline-block;
			//*display: inline;
			//zoom: 1;
			margin: 0;
			padding: 0 0 0 0;
			list-style: none;
			a{
				text-decoration: none;
				font-size: 12px;
				color: #ff3d63;
				white-space: nowrap;
				&:hover{
					text-decoration: underline;
					color: #ff3d63;
				}
			}
			&:before {
			    content: "/";
			    padding: 0 5px 0 1px;
			    font-size: 12px;
			}
			&:first-child{
				&:before{
					content: none;
				}
			}
			&.unavailable a{
				color: #999;
				text-decoration: none;
				cursor: default;
			}
			&.current a{
				color: #555;
				text-decoration: none;
				font-weight: bold;
				cursor: default;
			}
		}
	}
}
/* end page navigation */

/* button style */
.btn{
	position: relative;
	display: inline-block;
	*display: inline;
	zoom: 1;
	width: auto;
	min-width: 60px;
	background:#ccc;
	text-align: center;
	line-height: 100%;
	background: $color-secondary;
	&:hover{
		background: lighten($color-secondary, 3%);
	}
	>a{
		display: inline-block;
		*display: inline;
		zoom: 1;
		margin: 0;
		padding: 0;
		vertical-align: middle;
		color: #fff;
		text-decoration: none;
	}
	>input[type=button],input[type=submit],input[type=reset]{
		margin: -11px 0 0 0;
		*margin: -10px 0 0 0;
		padding: 0;
		vertical-align: middle;
		// *vertical-align: top;
		color: #fff;
		border: 0 none;
		background: 0 none;
		outline: 0 none;
		box-sizing:content-box;
	}
	>i{
		position: absolute;
		top: 4px;
		right: 14px;
		*right: 10px;
		padding: 0 0 0 30px;
		font-size: 24px;
		color: #fff;
	}
	&.big{
		padding: 0 13px 0 13px;
		height: 35px;
		font-size: 34px;
		>a{
			margin: -11px 0 0 0;
			// *margin: -9px 0 0 0;
		}
		>input[type=button],input[type=submit],input[type=reset]{
			margin: -11px 0 0 0;
			// *margin: -9px 0 0 0;
		}
		>i{
			padding: 0 0 0 30px;
		}
	}
	&.small{
		padding: 0 13px;
		height: 29px;
		font-size: 22px;
		>a{
			margin: 0;
		}
		>input[type=button],input[type=submit],input[type=reset]{
			margin: -11px 0 0 0;
			*margin: -10px 0 0 0;
		}
	}
	// &.round{
	// 	@include round-corner(5px);
	// }
	&.round-right{
		padding-right: 55px;
		@include round-corner2(0,20px,20px,0);
	}
	&.disabled{
		background: #efefef !important;
		cursor: default;
		>a,input[type=button],input[type=submit],input[type=reset]{
			cursor: default;
			color:#fff;
		}
	}
}

.btn-circle{
	display: inline-block;
	position: relative;
	width: 20px;
	height: 20px;
	background: url('../images/icn-right-arrow2.png') center no-repeat #ff5778;
	color: #fff;
	@include round-corner(12px);

	>input[type=button],input[type=submit],input[type=reset]{
		position: absolute;
		z-index: 2;
		top: 0;
		left: 0;
		margin: 0 0 0 0;
		padding: 0;
		width: 20px;
		height: 20px;
		vertical-align: middle;
		// *vertical-align: top;
		color: #fff;
		border: 0 none;
		background: 0 none;
		outline: 0 none;
		box-sizing:content-box;
		font-size: 10px;
		// background:#134307;

	}
}


/* input round border style */
.se-box__item div div select{
	border: 1px solid #ff5778;
    border-radius: 5px;
    height: 23px;
	}
#date_start, #date_end{
	border: 1px solid #ff5778;
	border-radius:5px;
	height:20px;
	text-align:center;
	}
#mod_search{
	border: 1px solid #ff5778;
	border-radius:5px;
	padding:0 10px;
	height:20px;
	}
input[type="submit"] {
	border: 1px solid #ff5778;
    border-radius: 5px;
    cursor: pointer;
    padding: 1px 5px;
	}
.gen-input{
	position: relative;
	display: inline-block;
	*display: inline;
	zoom: 1;
	padding: 0;
	border: 1px solid #ff5778;
	background: #fff;
	border-radius:5px;
	>i{
		display: none;
	}

	>input[type=text],input[type=password]{
		font-size: 13px;
		color: #333;
		vertical-align: top;
		border: 0;
		outline: 0;
		background: none;
	}

	&.small{
		padding: 0 3px;
	}
	&.round{
		@include round-corner(15px);
	}
	&.icn-left{
		>i{
			display: block;
			float: left;
			margin: -3px 0 0 2px;
			font-size: 13px;
			color:#333;
		}
		>i + input{
			padding-left: 16px !important;
		}
	}
}
.input-round-big{
	position: relative;
	display: inline-block;
	*display: inline;
	zoom: 1;
	padding: 5px 6px;
	border: 1px solid #ccc;
	@include round-corner(15px);

	>input[type=text],input[type=password]{
		font-size: 15px;
		color: #333;
		vertical-align: top;
		border: 0;
		outline: 0;
	}
}
/* end input style */



/*comment footer page*/
.box-comment{
	overflow: hidden;
	padding: 10px;
	margin-top:20px;

	.texthead-comment {
		height: 25px;
		color: #fff;
		font-size: 1.6em;
		padding: 2px 5px;
		-webkit-border-radius: 5px 5px 5px 5px;
		-moz-border-radius: 5px 5px 5px 5px;
		border-radius: 5px 5px 5px 5px;
		-pie-border-radius: 5px 5px 5px 5px;
		behavior: url(pie/PIE.htc);
		background: #ff3d63;
		//background: -moz-linear-gradient(top, #03689F 0%, #013D5C 100%);
		//background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #03689F), color-stop(100%, #013D5C));
		//background: -webkit-linear-gradient(top, #03689F 0%, #013D5C 100%);
		//background: -o-linear-gradient(top, #03689F 0%, #013D5C 100%);
		//background: -ms-linear-gradient(top, #03689F 0%, #013D5C 100%);
		//background: linear-gradient(to bottom, #03689F 0%, #013D5C 100%);
		//-pie-background: linear-gradient(#03689F, #013D5C);
		-pie-background: #ff3d63;
		behavior: url(pie/PIE.htc);
	}
	a {
		text-decoration: none;
		color: #666;
	}
}
.box-poll {
	margin: 0 0px 10px 0px;
	font-size: 13px;
	border: 2px solid #dadada;
	overflow: hidden;
	border-radius:5px;

  .poll-top {
		float: left;
		width: 30%;
		margin: 0 10px;
		border-right: 1px dotted #e8e8e8;
	}
	.poll-under {
		float: left;
		width: 65%;
	}
}
