// CMS
.panel-header{
    header{
        margin-bottom: 80px;
    }
    .header-top{
        width: 100%;
        .head-top-wrapper{
            position: relative;
            padding: 5px 10px;
            background-color: #333;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .left{
                ul{
                    margin: 0;
                    padding: 0;
                    li{
                        list-style: none;
                        display: inline-block;
                        vertical-align: middle;
                        padding: 0 10px;
                        color: #fff;
                        font-size: 1.4rem;
                        font-weight: 300;
                        a{
                            color: #fff;
                            font-size: 1.4rem;
                            font-weight: 300;
                            &:hover{
                                text-decoration: none;
                            }
                        }
                        &.sign-out{
                            a{
                                transition: none;
                                i{
                                    font-size: 1.2rem;
                                    margin-right: 3px;
                                    transition: none;
                                }
                                &:hover{
                                    color: #999;
                                }
                            }
                        }
                    }
                }
            }
            .right{
                ul{
                    margin: 0;
                    padding: 0;
                    li{
                        list-style: none;
                        display: inline-block;
                        vertical-align: middle;
                        padding: 0 10px;
                        a{
                            color: #fff;
                            text-transform: uppercase;
                            font-size: 1.4rem;
                            font-weight: 300;
                            transition: none;
                            i{
                                font-size: 1.2rem;
                                margin-right: 3px;
                                transition: none;
                            }
                            &:hover{
                                text-decoration: none;
                                color: #999;
                            }
                        }
                    }
                }
            }
    
            @media only screen and (max-width: 767px) {
                flex-wrap: wrap;
            }
        }
    }
    .header-main{
        margin-top: 20px;
        .step-template{
            margin-top: 30px;
            ul{
                margin: 0;
                padding: 0;
                li{
                    list-style: none;
                    float: left;
                    width: 33.333%;
                    .step{
                        .line{
                            width: 100%;
                            height: 8px;
                            background-color: #fff;
                            position: relative;
                            .circle{
                                display: none;
                                position: absolute;
                                width: 50px;
                                height: 50px;
                                border-radius: 100%;
                                color: #fff;
                                margin: auto;
                                top: -20px;
                                left: 0;
                                right: 0;
                                text-align: center;
                                padding-top: 10px;
                                &.active{
                                    display: block;
                                    background-color: #1e6eaf;
                                }
                            }
                            &.active{
                                background-color: #1e6eaf;
                            }
                        }
                        .text-step{
                            color: #fff;
                            text-align: center;
                            margin-top: 35px;
                            span{
                                font-size: 1.4rem;
                                line-height: 1.4rem;
                                font-weight: 200;
                                display: block;
                            }
                            font-size: 18px;
                            font-weight: 300;
                        }
                    }
                }
            }
        }
        @media only screen and (max-width: 767px) {
            .logo{
                text-align: center;
                margin-bottom: 15px;
                img{
                    width: 35%;
                }
            }
        }
        @media only screen and (max-width: 480px) {
            .logo{
                img{
                    width: 45%;
                }
            }
        }
    }
}



// Front
#header-wrapper{
    // background-color: #fff;
    .header-lg{
        display: block;
        .menu-right-top{
            margin-bottom: 30px;
        }
        .logo{
            // max-width: 300px;
            margin: auto;
            // height: 100%;
            // display: flex;
            // align-items: center;
            padding: 23px 15px;
            background-color: white;
            // img{
            //     width: 100%;
            // }
        }
        .account-wrapper{
            position: relative;
            padding: 15px 0 25px 0;
            ul{
                margin: 0;
                padding: 0;
                li{
                    list-style: none;
                    display: inline-block;
                    vertical-align: middle;
                    padding: 10px 8px;
                    min-height: 35px;
                    a{
                        color: $color-text;
                        font-size: 1.6rem;
                        font-weight: $font-light;
                        opacity: 0.7;
                        transition: all 0.3s ease;
                        .icon-register{
                            display: inline-block;
                            background-image: url('../assets/images/icons/icon-register.png');
                            width: 16px;
                            height: 17px;
                            background-repeat: no-repeat;
                            background-position: top center;
                            transition: all 0.3s ease;
                            margin-left: 5px;
                        }
                        .icon-signin{
                            display: inline-block;
                            background-image: url('../assets/images/icons/icon-signin.png');
                            width: 16px;
                            height: 17px;
                            background-repeat: no-repeat;
                            background-position: top center;
                            transition: all 0.3s ease;
                            margin-left: 5px;
                        }
                        &:hover{
                            text-decoration: none;
                            opacity: 1;
                            .icon-register{
                                background-position: bottom center;
                            }
                            .icon-signin{
                                background-position: bottom center;
                            }
                        }
                    }
                    &:first-child{
                        border-right: 1px solid #fff;
                        padding-left: 0;
                    }
                }
            }
        }
        .tools-web{
            display: flex;
            padding: 15px 0 25px 0;
            .social-wrapper{
                ul{
                    li{
                        border: none;
                        margin-right: 0;
                        width: 35px;
                        height: 35px;
                        a{
                            width: 35px;
                            height: 35px;
                        }
                        &:first-child{
                            border-left: none;
                        }
                    }
                }
            }
            ul{
                margin: 0;
                padding: 0;
                li{
                    list-style: none;
                    border-right: 1px solid #fff;
                    float: left;
                    display: flex;
                    min-height: 35px;
                    &:first-child{
                        border-left: 1px solid #fff;
                    }
                    &:last-child{
                        border-right: none;
                    }
                }
                .search-site{
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    padding: 5px 23px;
                    .icon-search{
                        background-image: url('../../assets/images/icons/icon-search.png');
                        width: 15px;
                        height: 15px;
                        background-repeat: no-repeat;
                        background-position: top center;
                        transition: all 0.3s ease;
                    }
                    &:hover{
                        .icon-search{
                            background-position: bottom center;
                        }
                    }
                    &.active{
                        .icon-search{
                            background-position: bottom center;
                        }
                    }
                }
                .sizefonts-wrapper{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 5px 23px;
                    .reduce{
                        background-image: url('../../assets/images/icons/icon-reduce-sizefont.png');
                        width: 22px;
                        height: 13px;
                        background-repeat: no-repeat;
                        background-position: top center;
                        cursor: pointer;
                        transition: all 0.3s;
                        &:hover{
                            background-position: bottom center;
                        }
                        &.active{
                            background-position: bottom center;
                        }
                    }
                    .normal{
                        padding-left: 23px;
                        padding-right: 23px;
                        background-image: url('../../assets/images/icons/icon-normal-sizefont.png');
                        width: 22px;
                        height: 13px;
                        background-repeat: no-repeat;
                        background-position: top center;
                        cursor: pointer;
                        transition: all 0.3s;
                        &:hover{
                            background-position: bottom center;
                        }
                        &.active{
                            background-position: bottom center;
                        }
                    }
                    .increase{
                        background-image: url('../../assets/images/icons/icon-increase-sizefont.png');
                        width: 22px;
                        height: 13px;
                        background-repeat: no-repeat;
                        background-position: top center;
                        cursor: pointer;
                        transition: all 0.3s;
                        &:hover{
                            background-position: bottom center;
                        }
                        &.active{
                            background-position: bottom center;
                        }
                    }
                }
                .lang-site{
                    // padding: 5px 23px;
                    position: relative;
                    min-width: 45px;
                    height: auto;
                    padding: 10.5px 10px;
                    cursor: pointer;
                    background-color: $color-primary;
                    span{
                        color: #fff;
                        font-size: 1.6rem;
                        font-weight: $font-light;
                    }
                    i{
                        color: #fff;
                        font-size: 1.4rem;
                        position: relative;
                        right: -5px;
                        top: -2px;
                        transform: rotate(180deg);
                        -webkit-transform: rotate(180deg);
                        transition: all 0.3s ease;
                    }
                    .multi-lang{
                        display: none;
                        margin: 0;
                        padding: 0;
                        position: absolute;
                        left: 0;
                        top: 100%;
                        width: 100%;
                        z-index: 9;
                        li{
                            list-style: none;
                            border: none;
                            width: 100%;
                            display: flex;
                            align-items: center;
                            a{
                                color: #fff;
                                font-size:1.6rem;
                                font-weight: $font-light;
                                width: 100%;
                                height: auto;
                                padding: 10.5px 10px;
                                display: block;
                                text-align: center;
                                &:hover{
                                    text-decoration: none;
                                    background-color: $color-secondary;
                                }
                            }
                        }
                    }
                    &.active{
                        i{
                            transform: rotate(0deg);
                            -webkit-transform: rotate(0deg);
                        }
                    }
                }
            }
        }

        //menu-top
        .bg-color-menutop{
            background-color: #f8f8f8;
        }
        .menu-top-wrapper{
            position: relative;
            padding: 0;
            margin-bottom: 30px;
            border-top: solid 1px #cfd1d4;
            
            ul{
                list-style: none;
                margin: 0;
                padding: 0;
                li{
                    width: 190px;
                    padding: 18px 25px 8px 20px;
                    // margin-right: 20px;
                    // margin-bottom: 8px;
                    display: inline-block;
                    vertical-align: top;
                    border-right: solid 1px #cfd1d4;

                    a{
                        display: block;
                        color: #525252;
                        opacity: 0.7;
                        transition: all 0.3s ease;
                        font-size: 1.6rem;
                        font-weight: $font-regular;
                        line-height: 2rem;
                        &:hover{
                            text-decoration: none;
                            opacity: 1;
                        }
                    }
                }
                
            }
        }
        //menu-main
        .menu-main-wrapper{
            position: relative;
            .sub-menu-main{
                list-style: none;
                margin: 0;
                padding: 0;
                li{
                    float: left;
                    a{
                        display: block;
                        color: $color-primary;
                        font-size: 2.0rem;
                        font-weight: $font-regular;
                        padding: 10px 15px;
                        border-bottom: solid 5px transparent;
                        &:hover{
                            text-decoration: none;
                            color: $color-secondary;
                            border-color: $color-secondary;
                            background-color: white;
                        }
                    }
                    &.open{
                        &.show{
                            position: static;
                            background-image: url('../../assets/images/icons/icon-openmenu.png');
                            background-repeat: no-repeat;
                            background-position: 50% 103%;
                            .sub-menu-lv2{
                                transition: all 0.5s ;
                                display: block;
                            }
                        }
                    }
                    .sub-menu-lv2{
                        transition: all 0.5s;
                        //display: block;
                        display: none;
                        position: absolute;
                        top: auto;
                        left: 0;
                        float: left;
                        width: 100%;
                        min-width: 100px;
                        margin: 0;
                        list-style: none;
                        font-size: 1.5rem;
                        text-align: left;
                        background-clip: padding-box;
                        z-index: 1000;
                        padding: 15px;
                        border-top: solid 2px $color-secondary;
                        background-color: #f8f8f8;
                        .list-menu-lv2{
                            a{
                                font-size: 2.0rem;
                                font-weight: $font-regular;
                                line-height: 2.5rem;
                                color: #525252;
                                padding: 15px;
                                border-bottom: 0;
                                &:hover{
                                    text-decoration: none;
                                    background-color: #f8f8f8;
                                }
                            }
                            &.open{
                                &.show{
                                    a{
                                        position: static;
                                        background-image: url('../../assets/images/icons/icon-openmenu-gray.png');
                                        background-repeat: no-repeat;
                                        background-position: 50% 103%;
                                    }
                                }
                            }
                            .sub-menu-lv3{
                                //display: block;
                                display: none;
                                background-color: #e5e5e5;
                                padding: 8px 0;
                                .list-menu-lv3{
                                    a{
                                        font-size:1.6rem;
                                        font-weight: $font-regular;
                                        line-height: 1.8rem;
                                        color: #525252;
                                        padding: 8px 10px;
                                        &:hover{
                                            background-color: inherit;
                                        }
                                    }
                                }
                            }
                            &:hover{
                                .sub-menu-lv3{
                                    display: block;
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }

        .section-search-wrapper{
            // position: absolute;
            // width: 100%;
            // background-color: #cfd1d4;
            // height: 280px;
            // z-index: 100;
            // margin: 0 -15px;
            // display: none;
            display: block;
            text-align: right;

            .group-search{
                display: inline-block;
                width: 605px;
                padding: 0;
                height: 45px;
                // position: absolute;
                // left: 0;
                // right: 0;
                // top: 0;
                // bottom: 0;
                margin: 0;
                .close-search{
                    width: 40px;
                    height: 60px;
                    background-color: #525252;
                    margin-left: auto;
                    margin-bottom: 3px;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .icon-close{
                        background-image: url('../../assets/images/icons/icon-close.png');
                        width: 13px;
                        height: 13px;
                        background-repeat: no-repeat;
                        background-position: top center;
                        transition: all 0.3s ease;
                    }
                    &:hover{
                        .icon-close{
                            background-position: bottom center;
                        }
                    }
                }
                .input-custom{
                    display: flex;
                    .input-box{
                        flex: 1;
                        margin-right: 30px;
                        input{
                            margin-bottom: 0;
                            height: 45px;
                            border-color: $color-text;
                            // &:focus ~ label{
                            //     top: -15px;
                            //     font-size:1.6rem;
                            // }
                            // &:valid ~ label{
                            //     top: -15px;
                            //     font-size:1.6rem;
                            // }
                        }
                        // label{
                        //     font-size: 2.0rem;
                        //     top: 9px;
                        // }
                    }
                    
                    .btn-search{
                        width: 160px;
                        height: 45px;
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: transparent;

                        .icon-search{
                            width: 100%;
                            height: 43px;
                            font-size: 2.2rem;
                            font-weight: 400;
                            color: $color-primary;
                            background-color: transparent;
                            border: solid 1px $color-text;
                        }
                        // .icon-search{
                        //     background-color: inherit;
                        //     background-image: url('../../assets/images/icons/icon-search.png');
                        //     width: 15px;
                        //     height: 15px;
                        //     background-repeat: no-repeat;
                        //     background-position: top center;
                        //     transition: all 0.3s ease;
                        //     border: none;
                        //     outline: none;
                        //     text-indent: -9999px;
                        // }
                        // &:hover{
                        //     .icon-search{
                        //         background-position: bottom center;
                        //     }
                        // }
                    }
                }
            }
        }
    }

    .header-sm{
        display: none;
    }
    .canvas-menu-wrapper{
        display: none;
    }
}

.fixed-wrapper{
    .fixed-left-wrapper{
        display: block;
        position: fixed;
        top: 190px;
        left: 30px;
        width: 50px;
        min-height: 320px;
        background-color: transparent;
        z-index: 99;
    }

    .fixed-right-wrapper{
        display: block;
        position: fixed;
        top: 190px;
        right: 30px;
        width: 45px;
        min-height: 320px;
        background-color: #cfd1d4;
        z-index: 99;

        .sizefonts-wrapper{
            position: relative;
            .reduce{
                background-image: url('../../assets/images/icons/icon-reduce-sizefont.png');
                width: 45px;
                height: 45px;
                background-repeat: no-repeat;
                background-position: 0 -45px;
                cursor: pointer;
                transition: all 0.3s;
                &:hover{
                    background-position: 0 0;
                }
                &.active{
                    background-position: 0 0;
                }
            }
            .normal{
                background-image: url('../../assets/images/icons/icon-normal-sizefont.png');
                width: 45px;
                height: 45px;
                background-repeat: no-repeat;
                background-position: 0 -45px;
                cursor: pointer;
                transition: all 0.3s;
                &:hover{
                    background-position: 0 0;
                }
                &.active{
                    background-position: 0 0;
                }
            }
            .increase{
                background-image: url('../../assets/images/icons/icon-increase-sizefont.png');
                width: 45px;
                height: 45px;
                background-repeat: no-repeat;
                background-position: 0 -45px;
                cursor: pointer;
                transition: all 0.3s;
                &:hover{
                    background-position: 0 0;
                }
                &.active{
                    background-position: 0 0;
                }
            }
        }

        .group-link-mainbkk{
            border-top: solid 2px white;
            padding: 10px 0 0 0;
            a{

                .icon-bkk{
                    width: 32px;
                    height: 32px;
                    margin: 0 auto;
                    img{
                        width: 100%;
                    }
                }
                .text-bkk{
                    padding-left: 20px;
                    font-size: 1.4rem;
                    font-weight: $font-regular;
                    color: #525252;
                    line-height: 1.5rem;
                    transform: rotate(90deg);
        
                    label{
                        font-size: 1.6rem;
                        font-weight: $font-regular;
                        color: #006600;
                        display: block;
                    }
                }
                &:hover{
                    text-decoration: none;
                }
            }
        }
    }

    @include media-breakpoint-down(md) {
        display: flex;
        -webkit-box-pack: justify !important;
        -ms-flex-pack: justify !important;
        justify-content: space-between !important;
        padding: 10px 0;

        .fixed-left-wrapper{
            position: relative;
            top: auto;
            left: auto;
            width: auto;
            min-height: 50px;
            height: 50px;
            display: flex;

            .online-wrapper{
                display: flex;
            }
        }

        .fixed-right-wrapper{
            position: relative;
            top: auto;
            left: auto;
            right: 0;
            width: auto;
            min-height: 50px;
            height: 50px;
            display: flex;

            .sizefonts-wrapper{
                display: flex;
                border-right: solid 2px white;
            }

            .group-link-mainbkk{
                padding: 10px 10px 0 10px;
                border-top: none;
                a{
                    display: flex;
                    .text-bkk{
                        transform: rotate(0);
                    }
                }
            }
        }
    }
}

//Manage
.manage{
    .main-wrapper{
        .panel-header{
            display: block;
            .header-top{
                position: fixed;
                top: 0;
                z-index: 999;
            }
        }
        #header-wrapper{
            padding-top: 36.2px;
        }
    }
}