.manage{
    #site-content{
        #manage_dragdrop.group-section-content{
            .section-content{
                border: 2px dashed rgb(204, 204, 204);
                padding: 20px;
                margin: 0px 20px 20px;
                cursor: grab !important;
            }
            .sortable-chosen{
                cursor: grab !important;
            }
            .sortable-chosen.sortable-ghost{
                cursor: grabbing !important;
            }
            .sortable-chosen {
                //border: 1px solid green;
                background-color: #d9d9d9;
                &.sortable-ghost {
                  //border: 1px solid red;
                  background-color: #525252;
                  opacity: 0.7;
                }
            }
        }
        .group-section-content{
            .section-content{
                border: 2px dashed rgb(204, 204, 204);
                padding: 20px;
                margin: 0px 20px 20px;
                .inner-content{
                    .main-content{
                        .add-news{
                            display: block;
                            position: relative;
                            cursor: pointer;
                            width: 100%;
                            height: 191px;
                            background-color: rgba($color: #525252, $alpha: 0.7);
                            i{
                                font-size: 50px;
                                color: #fff;
                                height: 100%;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                            }
                        }
        
                    }
                }
            }
        }
        
    }

    .manage-save{
        position: fixed;
        width: 100%;
        bottom: 0;
        background-color: #28a745;
        color: #fff;
        font-size: 20px;
        font-weight: $font-regular;
        padding: 10px;
        text-align: center;
        z-index: 99;
        i{
            color: #fff;
            margin-right: 5px;
        }

    }

    .group-mange-section{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        //margin: 0 -20px;
        margin: 0;
        z-index: 101;
        
        .manage-dragdrop{
            position: absolute;
            right: 0;
            left: 0;
            margin: auto;
            width: 70px;
            height: max-content;
            cursor: grab;
            img{
                width: 100%;
            }
            &:focus{
                cursor: grabbing;;
            }
            &:active{
                cursor: grabbing;;
            }
        }
        .manage-edit{
            width: 34px;
            position: absolute;
            right: 0;
            cursor: pointer;
            img{
                width: 100%;
            }
        }
        &.no-mg{
            margin: 0;
        }
        &.right-0{
            right: 0;
        }
    
        .manage-tools{
            visibility: hidden;
            opacity: 0;
            width: 150px;
            position: absolute;
            right: 46px;
            transition: all 0.5s ease;
            ul{
                margin: 0;
                padding: 0;
                li{
                    background-color: #ccc;
                    list-style: none;
                    text-align: center;
                    border-bottom: 1px solid #fff;
                    padding: 5px 8px;
                    cursor: pointer;
                    color: #525252;
                    &:hover{
                        text-decoration: underline;
                    }
                    &:last-child{
                        background-color: #f08220;
                        border-bottom: none;
                        color: #fff;
                        &:hover{
                            text-decoration: none;
                        }
                    }
                }
            }
    
            &.active{
                visibility: visible;
                opacity: 1;
                transition: all 0.5s ease;
            }
            &:after{
                content: '';
                display: block;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 10px 0 10px 10px;
                border-color: transparent transparent transparent #ccc;
                position: absolute;
                top: 6px;
                right: -10px;
            }
        }
    }
    .group-mange-upload{
        display: block;
        position: relative;
        max-width: 500px;
        width: 100%;
        margin: auto;
    }
}
