/* remove link outline */
a:hover, a:active, a:focus, input[type=radio] {
		outline: 0;
}

/* clear float */
.clearfix{
	clear: both;
}

/* main structure */
#se-wrapper{
	position: relative;
	margin: auto;
	max-width: $page-max-width;
	min-width: $page-min-width;
}
#page-container{
	width: 100%;
}
#se-header-wrapper{
	width: 100%;
}
#se-maincontainer-wrapper{
	//overflow: hidden;
	min-height:590px; //note : same value as bg slider item height (620px) -30px for adjust white-space
}
#se-maincontainer{

}
#se-footer-wrapper{
	width: 100%;
	min-height: $footer-height;
	background: #fff;
}
/* end main structure */

/* page navigation */
	#page-navi{
		display: block;
		margin: 0;
		padding: 10px;
		>li{
			display: inline;
			font-size: 13px;
			color: #444;
			&.current{
				color: #004e6c;
			}
			>a{
				// font-size: 13px;
				color: #444;
				text-decoration: none;
				&:hover{
					text-decoration: underline;
					color: #333;
				}
			}
		}
	}

/* end page navigation */

/* button style */
.btn{
	position: relative;
	display: inline-block;
	*display: inline;
	zoom: 1;
	width: auto;
	min-width: 60px;
	background:#ccc;
	text-align: center;
	line-height: 100%;
	>a{
		display: inline-block;
		*display: inline;
		zoom: 1;
		margin: 0;
		padding: 0;
		vertical-align: middle;
		color: #fff;
		text-decoration: none;
	}
	>input[type=button],input[type=submit],input[type=reset]{
		margin: 0;
		*margin-top: -2px;
		padding: 0;
		vertical-align: middle;
		*vertical-align: top;
		color: #fff;
		border: 0 none;
		background: 0 none;
		outline: 0 none;
		box-sizing:content-box;
	}
	&.big{
		padding: 0 13px;
		height: 29px;
		font-size: 22px;
	}
	&.round{
		@include round-corner(5px);
	}
	&.disabled{
		background: #efefef !important;
		cursor: default;
		>a,input[type=button],input[type=submit],input[type=reset]{
			cursor: default;
			color:#fff;
		}
	}
	&.blue{
		@include gradient-bg(#0491e3,#02588a);
		&:hover{
			$cStart : lighten(#0491e3, 3%);
			$cStop : lighten(#02588a, 3%);
			@include gradient-bg($cStart,$cStop);
		}
	}
	&.green{
		@include gradient-bg(#85c700,#5f9300);
		&:hover{
			$cStart : lighten(#85c700, 3%);
			$cStop : lighten(#5f9300, 3%);
			@include gradient-bg($cStart,$cStop);
		}
	}
	&.gray{
		@include gradient-bg(#cccccc,#6c6c6c);
		&:hover{
			$cStart : lighten(#cccccc, 3%);
			$cStop : lighten(#6c6c6c, 3%);
			@include gradient-bg($cStart,$cStop);
		}
	}
}

.btn-2stage{
	position: relative;
	display: inline-block;
	*display: inline;
	zoom: 1;
	min-height: 29px;
	width: auto;
	min-width: 60px;
	background:#49EE1A;
	text-align: center;
	line-height: 100%;
	background: #ccc;
	&.big{
		//padding: 0 10px;
		font-size: 22px;
	}
	&.arrow{
		padding: 0 15px 0 10px;
	}
	>a{
		display: inline-block;
		*display: inline;
		zoom: 1;
		margin: 0;
		padding: 0 10px;
		min-width: 60px;
		vertical-align: middle;
		color: #fff;
		text-decoration: none;
	}
	>input[type=button],input[type=submit],input[type=reset]{
		margin: 0;
		*margin-top: -2px;
		padding: 0;
		vertical-align: middle;
		*vertical-align: top;
		color: #fff;
		border: 0 none;
		background: 0 none;
		outline: 0 none;
		box-sizing:content-box;
	}
	>i{
		display: none;
		float: right;
		margin: 5px 5px 0 0;
		font-size: 14px;
		color: #fff;
	}
	&.active{
		>i{
			display: block;
			position: absolute;
			//float: right;
			//margin: 5px 5px 0 0;
			top: 1px;
			*top: 2px;
			right: 0;
			font-size: 14px;
			color: #fff;
		}
	}

	&:hover{
		background: lighten(#ccc, 3%);
	}
	&.blue{
		&.active{
			background: #004e6c;
			>a{
				cursor: default;
			}
			cursor: default;
			&:hover{
				background: lighten(#004e6c, 3%);
			}
		}
	}
}
/* end button style */

/* input round border style */
.input-round-small{
	position: relative;
	display: inline-block;
	*display: inline;
	zoom: 1;
	padding: 2px 6px;
	border: 1px solid #ccc;
	@include round-corner(15px);

	>input[type=text],input[type=password]{
		font-size: 13px;
		color: #333;
		vertical-align: top;
		border: 0;
		outline: 0;
	}
}
.input-round-big{
	position: relative;
	display: inline-block;
	*display: inline;
	zoom: 1;
	padding: 5px 6px;
	border: 1px solid #ccc;
	@include round-corner(15px);

	>input[type=text],input[type=password]{
		font-size: 15px;
		color: #333;
		vertical-align: top;
		border: 0;
		outline: 0;
	}
}
/* end input style */

/* content with/width out slide layout */
#content-slide-container{
	.content-slide-box{
		position: relative;
		//overflow: hidden;
		margin: 0 0 2px 0;
		//padding-top: 25px;
		min-height: 47px;

		&.expanded{
			padding-top: 25px;
			.content-slide-trigger{
				position: absolute;
				z-index: 2;
				margin-top: -25px;
				margin-left: 18px;
				width: 135px;
				height: 125px;

				.slide-bg{
					position: relative;
					width: 100%;
					height: 100%;
					@include opacity-bg(0,78,108,0.8);
				}

				>a.trigger-text{
					display: block;
					position: absolute;
					z-index: 2;
					top: auto;
					bottom: 20px;
					left: 0;
					padding-left: 10px;
					width: 105px;
					font-size: 26px;
					color: #fff;
					text-decoration: none;
					cursor: default;
					>span{
						display:block;
						margin-top:-10px;
						&:first-child{
							margin-top: 0;
						}
					}
				}
				>i{
					position: absolute;
					z-index: 2;
					top: 8px;
					right: 8px;
					*right: 3px;
					font-size: 18px;
					color: #fff;
					&.icon-chevron-down{
						display: none;
					}
					&.icon-chevron-right{
						display: block;
					}
				}
			}
			.content-slide-detail{
				display: block;
				//position: relative;
				z-index: 1;
				margin: 0 0 0 0;
				padding: 5px 10px 5px 170px;
				min-height: 125px;
				background:#fff;
				border: 1px solid #ccc;
			}

		}
		.content-slide-trigger{
			position: absolute;
			z-index: 2;
			margin-top: 0;
			margin-left: 18px;
			width: 135px;
			height: 47px;

			.slide-bg{
				position: relative;
				width: 100%;
				height: 100%;
				@include opacity-bg(0,78,108,0.8);
			}

			>a.trigger-text{
				display: block;
				position: absolute;
				z-index: 2;
				top: 0;
				bottom: auto;
				left: 0;
				padding-left: 10px;
				width: 105px;
				font-size: 26px;
				color: #fff;
				text-decoration: none;
				>span{
					display:block;
					margin-top:-10px;
					&:first-child{
						margin-top: 0;
					}
				}
			}
			>i{
				position: absolute;
				z-index: 2;
				top: 8px;
				right: 8px;
				*right: 3px;
				font-size: 18px;
				color: #fff;
				&.icon-chevron-down{
						display: block;
				}
				&.icon-chevron-right{
					display: none;
				}
			}

		}
		.content-slide-detail{
			display: none;
		}

	}
}
/* end content with/width out slide layout */

/* table style */
.table-box{
	margin: 30px 0 5px 0;
	padding: 0 0 5px 0;
	border-bottom: 1px solid #ccc;
	&:first-child{
		margin: 5px 0 5px 0;
	}
	table{
		width: 100%;
		color: #666;
		font-size: 13px;
		th{
			padding: 0 0 3px 0;
			*padding: 4px 0 3px 0;
			font-weight: normal;
			font-size: 18px;
			color: #fff;
			background: #004e6c;
			border: 1px solid #fff;
		}
		td{
			padding: 10px 5px;
		}
	}
}
.form-box{
	margin: 5px 0 5px 0;
	&:first-child{
		//margin: 5px 0 5px 0;
	}
	table{
		font-size: 13px;
		tbody{
			th{
				width: 160px;
				color: #333;
				text-align: left;
			}
			td{
				padding: 10px 5px;
			}
		}
	}
}
/* in form style */
.numline{
	display: inline-block;
	*display: inline;
	zoom: 1;
	margin: 0 0 0 0;
	padding-left: 25px;
	width: 20px;
	background:url('../images/icn-folder.png') left top no-repeat;
	font-size: 14px;
}
.sm-box{
	width: 26px;
	height: 19px;
	border: 1px solid #ccc;
}
.sm-input{
	padding: 0 5px;
	min-width: 100px;
	height: 19px;
	border: 1px solid #ccc;
	color: #333;
	font-size: 13px;
	&.disabled{
		background:#efefef;
	}
	&.readonly{
		cursor: default;
		background:#f9f9f9;
	}
	&.error{
		border: 1px solid #f04124;
		background: #f08978;
	}
	&--flag-th{
		@extend .sm-input;
		padding-left: 25px;
		background:url('../images/icn-flag.png') 5px 3px no-repeat;

		&.disabled{
			background:url('../images/icn-flag.png') 5px 3px no-repeat #efefef;
		}
		&.readonly{
			background:url('../images/icn-flag.png') 5px 3px no-repeat #f9f9f9;
		}
		&.error{
			border: 1px solid #f04124;
			background:url('../images/icn-flag.png') 5px 3px no-repeat #f08978;
		}
	}
	&--flag-en{
		@extend .sm-input;
		padding-left: 25px;
		background:url('../images/icn-flag.png') 5px -27px no-repeat;

		&.disabled{
			background:url('../images/icn-flag.png') 5px 3px no-repeat #efefef;
		}
		&.readonly{
			background:url('../images/icn-flag.png') 5px 3px no-repeat #f9f9f9;
		}
		&.error{
			border: 1px solid #f04124;
			background:url('../images/icn-flag.png') 5px 3px no-repeat #f08978;
		}
	}
}
.sm-textarea{
	padding: 5px;
	resize: none;
	border: 1px solid #ccc;
	color: #333;
	font-size: 13px;
	&.disabled{
		background:#efefef;
	}
}
.icn-bin{
	display: inline-block;
	*display: inline;
	zoom: 1;
	width: 16px;
	height: 16px;
	background:url('../images/icn-bin.jpg') left top no-repeat;
	&:hover{
		background:url('../images/icn-bin.jpg') left -30px no-repeat;
	}
}
.icn-edit{
	display: inline-block;
	*display: inline;
	zoom: 1;
	width: 16px;
	height: 16px;
	background:url('../images/icn-edit.jpg') left top no-repeat;
	&:hover{
		background:url('../images/icn-edit.jpg') left -30px no-repeat;
	}
}
.link-text{
	display: inline-block;
	*display: inline;
	zoom: 1;
	>a{
		color: #337188;
		text-decoration: none;
		&:hover{
			text-decoration: underline;
		}
	}
}
input[type=radio][disabled] + .input-label{
	color: #ccc;
	cursor: default;
}
input[type=checkbox][disabled] + .input-label{
	color: #ccc;
	cursor: default;
}
.input-label{
	font-size: 13px;
	color: #333;
	cursor: pointer;
}
.switch-onoff{
	overflow: hidden;
	display: inline-block;
	*display: inline;
	zoom: 1;
	width: 78px;
	height: 21px;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;

	>.hidden-checkbox{
		display: none;
	}
	>label{
		// position: absolute;
		display: block;
		overflow: hidden;
		width:120px;
		cursor: pointer;
		>span {
			float: left;
			display: block;
			width: 39px;
			height: 19px;
		}
		&.switch-on{
			margin-left: 0;
			transition: margin 0.3s linear;
		}
		&.switch-off{
			margin-left: -39px;
			transition: margin 0.3s linear;
		}
	}
	.switch-trigger{
		background: #337189;
		border-top: 1px solid #337189;
		border-bottom: 1px solid #337189;
	}
	.switch-text{
		padding-top: 1px;
		height: 18px;
		color:#337189;
		font-family: arial;
		font-size: 14px;
		font-weight: bold;
		text-align: center;
		background: #fefefe;
		border-top: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
}


.note-text{
	color: #999;
}
.align-box{
	display: inline-block;
	*display: inline;
	zoom: 1;
}
/* btn-row */
.btn-row{
	overflow: hidden;
	margin: 0;
	.btn-group{
		margin: 0;
		&.left{
			float: left;
		}
		&.right{
			float: right;
		}
		&.center{
			//float: right;
			text-align: center;
		}
	}
}